<section class="scene-four">
  <div class="scene-four__container">
    <div class="scene-four__container__car"></div>
    <div class="scene-four__container__person"></div>
    <div class="scene-four__container__cuyo"></div>
    <ng-container>
      <div class="scene-four__container__subtitles">
        <p>
          En el camino, el cuy ve la silueta de un ser humano que corre hacia un
          objeto que él no conocía.
        </p>
      </div>
    </ng-container>
    <div class="scene-four__container__footer">
      <layout-bar
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToBackpackEvent)="onGoToBackpack()"
        (repeatSceneEvent)="onRepeatScene()"
      ></layout-bar>
    </div>
    <audio #cap1Esc4Narrator>
      <source
        [src]="CONST.AUDIO.NARRATOR_CHAPTER_1_SCENE_4"
        type="audio/mpeg"
      />
    </audio>
  </div>
</section>
