@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-four {
  width: 100vw;
  height: 100%;
  background-image: url($elements-cap1-esc4-5-fondo);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
  &__container {
    width: 100%;
    height: 100%;
    position: relative;
    &__car {
      position: absolute;
      top: 36%;
      right: 18%;
      z-index: 1;
      width: 218px;
      height: 324px;
      opacity: 0;
      background: url($elements-cap1-esc4-5-carro);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromBottom 1s ease-in-out 6s forwards;
      @include to(laptop-l) {
        top: 38%;
        right: 14%;
      }
      @include to(laptop-m) {
        right: 12%;
      }
      @include to(laptop) {
        right: 7%;
      }
      @include to(min-width) {
        right: 10%;
        width: 142px;
        height: 156px;
      }
    }
    &__person {
      position: absolute;
      top: 34%;
      right: 36%;
      z-index: 2;
      width: 185px;
      height: 299px;
      opacity: 0;
      background: url($character-chapter-1-scene-4-5-person);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromBottom 1s ease-in-out 3.5s forwards;
      @include to(laptop) {
        right: 34%;
      }
      @include to(min-width) {
        width: 108px;
        height: 164px;
      }
    }
    &__cuyo {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;
      width: 400px;
      height: 405px;
      opacity: 0;
      background: url($character-chapter-1-scene-4-5-cuy);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromBottom 1s ease-in-out 0s forwards;
      @include to(min-width) {
        width: 233px;
        height: 228px;
      }
    }
    &__subtitles {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 1s forwards;
      &.on {
        animation: none;
        opacity: 1;
      }
    }
    &__arrows {
      z-index: 990;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 14s forwards;
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
