$audio-chapter-1-scene-1-narrator: "/assets/audios/cap1-esc1-narrator.mp3";
$audio-chapter-1-scene-2-narrator: "/assets/audios/cap1-esc2-narrator.mp3";
$audio-chapter-1-scene-2-5-narrator: "/assets/audios/cap1-esc2.5-narrator.mp3";
$audio-chapter-1-scene-3-narrator: "/assets/audios/cap1-esc3-narrator.mp3";
$audio-chapter-1-scene-4-narrator: "/assets/audios/cap1-esc4-narrator.mp3";
$audio-chapter-1-scene-4-cuy: "/assets/audios/cap1-esc4-cuy.mp3";
$audio-chapter-1-scene-5-narrator: "/assets/audios/cap1-esc5-narrator.mp3";
$audio-chapter-1-scene-6-narrator: "/assets/audios/cap1-esc6-narrator.mp3";
$audio-chapter-1-scene-8-narrator: "/assets/audios/cap1-esc8-narrator.mp3";
$audio-chapter-1-scene-9-narrator: "/assets/audios/cap1-esc9-narrator.mp3";
$audio-chapter-1-scene-10-narrator: "/assets/audios/cap1-esc10-narrator.mp3";
$audio-chapter-1-scene-10-cuy: "/assets/audios/cap1-esc10-cuy.mp3";
