$bg-start-screen: "/assets/backgrounds/test-home-bg.jpg";
$bg-chapter-1-scene-1: "/assets/backgrounds/cap1-esc1-fondo.png";
$bg-chapter-1-scene-2: "/assets/backgrounds/cap1-esc2-fondo.png";
$bg-chapter-1-scene-3: "/assets/backgrounds/cap1-esc3-fondo.png";
$bg-chapter-1-scene-4: "/assets/backgrounds/cap1-esc4-fondo.png";
