$bg-start-screen: "/assets/backgrounds/test-home-bg.jpg";
$bg-chapter-1-scene-1: "/assets/backgrounds/cap1-esc1-fondo.png";
$bg-chapter-1-scene-2: "/assets/backgrounds/cap1-esc2-fondo.png";
$bg-chapter-1-scene-2-5: "/assets/backgrounds/cap1-esc3-fondo.gif";
$bg-chapter-1-scene-3: "/assets/backgrounds/cap1-esc3-fondo.png";
$bg-chapter-1-scene-4: "/assets/backgrounds/cap1-esc4-fondo.png";
$bg-chapter-1-scene-5: "/assets/backgrounds/cap1-esc5-fondo.png";
$bg-chapter-1-scene-6: "/assets/backgrounds/cap1-esc6-fondo.png";
$bg-chapter-1-scene-7: "/assets/backgrounds/cap1-esc7-fondo.png";
$bg-chapter-1-scene-8: "/assets/backgrounds/cap1-esc8-fondo.png";
$bg-chapter-1-scene-10-11-cuy-color: "/assets/backgrounds/cap1-esc10-11-fondo-cuy-color.gif";
$bg-chapter-1-scene-11-cuy-BN: "/assets/backgrounds/cap1-esc11-fondo-cuy-BN.gif";
$bg-chapter-1-scene-10-11-tortuga-color: "/assets/backgrounds/cap1-esc10-11-fondo-tortuga-color.gif";
$bg-chapter-1-scene-12-tortuga-BN: "/assets/backgrounds/cap1-esc12-fondo-tortuga-BN.gif";
