$bg-start-screen: "/assets/backgrounds/portada-fondo.png";
//CHAPTER 1
$bg-chapter-1-scene-1: "/assets/backgrounds/cap1-esc1-fondo.png";
$bg-chapter-1-scene-2: "/assets/backgrounds/cap1-esc2-fondo.png";
$bg-chapter-1-scene-3: "/assets/backgrounds/cap1-esc3-fondo.gif";
$bg-chapter-1-scene-4-5: "/assets/backgrounds/cap1-esc4-5-fondo.png";
$bg-chapter-1-scene-6-7: "/assets/backgrounds/cap1-esc6-7-fondo.png";
$bg-chapter-1-scene-8: "/assets/backgrounds/cap1-esc8-fondo.png";
$bg-chapter-1-scene-9: "/assets/backgrounds/cap1-esc9-fondo.png";
$bg-chapter-1-scene-11-13-cuy-color: "/assets/backgrounds/cap1-esc11-13-fondo-cuy-color.gif";
$bg-chapter-1-scene-12-cuy-BN: "/assets/backgrounds/cap1-esc12-fondo-cuy-BN.gif";
$bg-chapter-1-scene-11-12-tortuga-color: "/assets/backgrounds/cap1-esc11-12-fondo-tortuga-color.gif";
$bg-chapter-1-scene-13-tortuga-BN: "/assets/backgrounds/cap1-esc13-fondo-tortuga-BN.gif";
//CHAPTER 2
$bg-chapter-2-scene-1: "/assets/backgrounds/cap2-esc1-fondo.png";
$bg-chapter-2-scene-2-3-4-5: "/assets/backgrounds/cap2-esc2-3-4-5-fondo.png";
$bg-chapter-2-scene-6: "/assets/backgrounds/cap2-esc6-fondo.png";
//CHAPTER 3
$bg-chapter-3-scene-1-2: "/assets/backgrounds/cap3-esc1-2-fondo.png";
$bg-chapter-3-scene-3-4-5-6-7: "/assets/backgrounds/cap3-esc3-4-5-6-7-fondo.png";
$bg-chapter-3-scene-8: "/assets/backgrounds/cap3-esc8-fondo.png";
//CHAPTER 4
$bg-chapter-4-scene-1: "/assets/backgrounds/cap4-esc1-fondo.png";
$bg-chapter-4-scene-2-3-4: "/assets/backgrounds/cap4-esc2-3-4-fondo.png";
$bg-chapter-4-scene-5: "/assets/backgrounds/cap4-esc5-fondo.png";
//CHAPTER 5
$bg-chapter-5-scene-1-2: "/assets/backgrounds/cap5-esc1-2-fondo.png";
$bg-chapter-5-scene-3: "/assets/backgrounds/cap5-esc3-fondo.png";
$bg-chapter-5-scene-4-with-river: "/assets/backgrounds/cap5-esc4-fondo-con-rio.png";
$bg-chapter-5-scene-4-without-river: "/assets/backgrounds/cap5-esc4-fondo-sin-rio.png";
$bg-chapter-5-scene-5: "/assets/backgrounds/cap5-esc5-fondo.png";
$bg-chapter-5-scene-6: "/assets/backgrounds/cap5-esc6-fondo.png";
//MAP
$bg-map: "/assets/backgrounds/mapa-fondo.png";
