$breakpoints: (
  mobile-s: 320px,
  mobile-m: 375px,
  mobile-l: 425px,
  min-width: 640px,
  tablet-l: 990px,
  tablet-s: 824px,
  tablet: 768px,
  laptop: 1024px,
  laptop-s: 1152px,
  laptop-m: 1280px,
  laptop-l: 1440px,
  laptop-xl: 2560px,
);
