//CHAPTER 1
$character-front-page-turtle: "/assets/characters/portada-tortuga.gif";
$character-chapter-1-scene-1-turtle: "/assets/characters/cap1-esc1-tortuga.gif";
$character-chapter-1-scene-2-mom-cuy: "/assets/characters/cap1-esc2-cuy-mama.gif";
$character-chapter-1-scene-2-son-cuy: "/assets/characters/cap1-esc2-cuyo-chiquito.gif";
$character-chapter-1-scene-2-5-mom-cuy: "/assets/characters/cap1-esc2.5-mama.gif";
$character-chapter-1-scene-2-5-son-cuy: "/assets/characters/cap1-esc2.5-cuy.gif";
$character-chapter-1-scene-3-cuy: "/assets/characters/cap1-esc3-cuy.gif";
$character-chapter-1-scene-3-person: "/assets/characters/cap1-esc3-persona-corriendo.gif";
$character-chapter-1-scene-4-cuy: "/assets/characters/cap1-esc4-cuy.gif";
$character-chapter-1-scene-4-turtle: "/assets/characters/cap1-esc4-tortuga.gif";
$character-chapter-1-scene-5-cuy: "/assets/characters/cap1-esc5-cuy.gif";
$character-chapter-1-scene-5-turtle: "/assets/characters/cap1-esc5-tortuga.gif";
$character-chapter-1-scene-6-turtle: "/assets/characters/cap1-esc6-tortuga.gif";
$character-chapter-1-scene-6-cuy: "/assets/characters/cap1-esc6-cuy.gif";
$character-chapter-1-scene-7-turtle: "/assets/characters/cap1-esc7-tortuga.gif";
$character-chapter-1-scene-8-cuy: "/assets/characters/cap1-esc8-cuy.gif";
$character-chapter-1-scene-8-turtle: "/assets/characters/cap1-esc8-tortuga.gif";
$character-chapter-1-scene-9-head: "/assets/characters/cap1-esc9-cabeza.gif";
$character-chapter-1-scene-9-backpack: "/assets/characters/cap1-esc9-mochila.gif";
$character-chapter-1-scene-9-turtle-feet: "/assets/characters/cap1-esc9-patas-de-tortuga.gif";
$character-chapter-1-scene-10-11-turtle: "/assets/characters/cap1-esc10-11-tortuga.gif";
$character-chapter-1-scene-10-12-cuy: "/assets/characters/cap1-esc10-12-cuy.gif";
$character-chapter-1-scene-11-cuy: "/assets/characters/cap1-esc11-cuy.gif";
$character-chapter-1-scene-12-turtle: "/assets/characters/cap1-esc12-tortuga.gif";
//CHAPTER 2
$character-chapter-2-scene-1-turtle: "/assets/characters/cap2-esc1-tortuga.gif";
$character-chapter-2-scene-1-tucan: "/assets/characters/cap2-esc1-tucan.gif";
$character-chapter-2-scene-2-4-turtle: "/assets/characters/cap2-esc2-4-tortuga.gif";
$character-chapter-2-scene-2-4-tucan: "/assets/characters/cap2-esc2-4-tucan.gif";
$character-chapter-2-scene-3-5-turtle: "/assets/characters/cap2-esc3-5-tortuga.gif";
$character-chapter-2-scene-3-5-tucan: "/assets/characters/cap2-esc3-5-tucan.gif";
//CHAPTER 3
//CHAPTER 4
//CHAPTER 5
