$character-chapter-1-scene-1-turtle: "/assets/characters/cap1-esc1-tortuga.gif";
$character-chapter-1-scene-2-mom-cuy: "/assets/characters/cap1-esc2-cuy-mama.gif";
$character-chapter-1-scene-2-son-cuy: "/assets/characters/cap1-esc2-cuyo-chiquito.gif";
$character-chapter-1-scene-3-cuy: "/assets/characters/cap1-esc3-cuy.gif";
$character-chapter-1-scene-3-person: "/assets/characters/cap1-esc3-persona-corriendo.gif";
$character-chapter-1-scene-4-cuy: "/assets/characters/cap1-esc4-cuy.gif";
$character-chapter-1-scene-4-turtle: "/assets/characters/cap1-esc4-tortuga.gif";
