$character-front-page-turtle: "https://elcaminodelatortuga.com/assets/characters/portada-tortuga.gif";
//CHAPTER 1
$character-chapter-1-scene-1-turtle: "https://elcaminodelatortuga.com/assets/characters/cap1-esc1-tortuga.gif";
$character-chapter-1-scene-2-mom-cuy: "https://elcaminodelatortuga.com/assets/characters/cap1-esc2-cuy-mama.gif";
$character-chapter-1-scene-2-son-cuy: "https://elcaminodelatortuga.com/assets/characters/cap1-esc2-cuyo-chiquito.gif";
$character-chapter-1-scene-3-mom-cuy: "https://elcaminodelatortuga.com/assets/characters/cap1-esc3-mama.gif";
$character-chapter-1-scene-3-son-cuy: "https://elcaminodelatortuga.com/assets/characters/cap1-esc3-cuy.gif";
$character-chapter-1-scene-4-5-cuy: "https://elcaminodelatortuga.com/assets/characters/cap1-esc4-5-cuy.gif";
$character-chapter-1-scene-4-5-person: "https://elcaminodelatortuga.com/assets/characters/cap1-esc4-5-persona-corriendo.gif";
$character-chapter-1-scene-6-cuy: "https://elcaminodelatortuga.com/assets/characters/cap1-esc6-cuy.gif";
$character-chapter-1-scene-6-turtle: "https://elcaminodelatortuga.com/assets/characters/cap1-esc6-tortuga.gif";
$character-chapter-1-scene-7-9-turtle: "https://elcaminodelatortuga.com/assets/characters/cap1-esc7-9-tortuga.gif";
$character-chapter-1-scene-7-9-cuy: "https://elcaminodelatortuga.com/assets/characters/cap1-esc7-9-cuy.gif";
$character-chapter-1-scene-8-turtle: "https://elcaminodelatortuga.com/assets/characters/cap1-esc8-tortuga.gif";
$character-chapter-1-scene-10-head: "https://elcaminodelatortuga.com/assets/characters/cap1-esc10-cabeza.gif";
$character-chapter-1-scene-10-backpack: "https://elcaminodelatortuga.com/assets/characters/cap1-esc10-mochila.gif";
$character-chapter-1-scene-10-turtle-feet: "https://elcaminodelatortuga.com/assets/characters/cap1-esc10-patas-de-tortuga.gif";
$character-chapter-1-scene-11-12-turtle: "https://elcaminodelatortuga.com/assets/characters/cap1-esc11-12-tortuga.gif";
$character-chapter-1-scene-11-12-turtle-red: "https://elcaminodelatortuga.com/assets/characters/cap1-esc11-12-tortuga-red.gif";
$character-chapter-1-scene-11-13-cuy: "https://elcaminodelatortuga.com/assets/characters/cap1-esc11-13-cuy.gif";
$character-chapter-1-scene-11-13-cuy-red: "https://elcaminodelatortuga.com/assets/characters/cap1-esc11-13-cuy-red.gif";
$character-chapter-1-scene-12-cuy: "https://elcaminodelatortuga.com/assets/characters/cap1-esc12-cuy.gif";
$character-chapter-1-scene-12-cuy-red: "https://elcaminodelatortuga.com/assets/characters/cap1-esc12-cuy-red.gif";
$character-chapter-1-scene-13-turtle: "https://elcaminodelatortuga.com/assets/characters/cap1-esc13-tortuga.gif";
$character-chapter-1-scene-13-turtle-red: "https://elcaminodelatortuga.com/assets/characters/cap1-esc13-tortuga-red.gif";
$character-chapter-1-scene-13-final: "https://elcaminodelatortuga.com/assets/characters/cap1-esc13-tortuga-final.gif";
//CHAPTER 2
$character-chapter-2-scene-1-turtle: "https://elcaminodelatortuga.com/assets/characters/cap2-esc1-tortuga.gif";
$character-chapter-2-scene-1-tucan: "https://elcaminodelatortuga.com/assets/characters/cap2-esc1-tucan.gif";
$character-chapter-2-scene-2-4-turtle: "https://elcaminodelatortuga.com/assets/characters/cap2-esc2-4-tortuga.gif";
$character-chapter-2-scene-2-4-tucan: "https://elcaminodelatortuga.com/assets/characters/cap2-esc2-4-tucan.gif";
$character-chapter-2-scene-3-5-turtle: "https://elcaminodelatortuga.com/assets/characters/cap2-esc3-5-tortuga.gif";
$character-chapter-2-scene-3-5-tucan: "https://elcaminodelatortuga.com/assets/characters/cap2-esc3-5-tucan.gif";
//CHAPTER 3
$character-chapter-3-scene-1-2-turtle: "https://elcaminodelatortuga.com/assets/characters/cap3-esc1-2-tortuga.gif";
$character-chapter-3-scene-2-snake: "https://elcaminodelatortuga.com/assets/characters/cap3-esc2-serpiente.gif";
$character-chapter-3-scene-3-snake: "https://elcaminodelatortuga.com/assets/characters/cap3-esc3-serpiente.gif";
$character-chapter-3-scene-3-turtle: "https://elcaminodelatortuga.com/assets/characters/cap3-esc3-tortuga.gif";
$character-chapter-3-scene-4-snake: "https://elcaminodelatortuga.com/assets/characters/cap3-esc4-serpiente.gif";
$character-chapter-3-scene-4-turtle: "https://elcaminodelatortuga.com/assets/characters/cap3-esc4-tortuga.gif";
$character-chapter-3-scene-5-7-snake: "https://elcaminodelatortuga.com/assets/characters/cap3-esc5-7-serpiente.gif";
$character-chapter-3-scene-5-7-turtle: "https://elcaminodelatortuga.com/assets/characters/cap3-esc5-7-tortuga.gif";
$character-chapter-3-scene-6-snake: "https://elcaminodelatortuga.com/assets/characters/cap3-esc6-serpiente.gif";
$character-chapter-3-scene-6-turtle: "https://elcaminodelatortuga.com/assets/characters/cap3-esc6-tortuga.gif";
//CHAPTER 4
$character-chapter-4-scene-1-2-turtle: "https://elcaminodelatortuga.com/assets/characters/cap4-esc1-2-tortuga.gif";
$character-chapter-4-scene-1-2-danta: "https://elcaminodelatortuga.com/assets/characters/cap4-esc1-2-danta.gif";
$character-chapter-4-scene-3-4-5-turtle: "https://elcaminodelatortuga.com/assets/characters/cap4-esc3-4-5-tortuga.gif";
$character-chapter-4-scene-3-4-5-turtle-off: "https://elcaminodelatortuga.com/assets/characters/cap4-esc3-4-5-tortuga-off.gif";
$character-chapter-4-scene-3-4-5-danta: "https://elcaminodelatortuga.com/assets/characters/cap4-esc3-4-5-danta.gif";
$character-chapter-4-scene-3-4-5-danta-off: "https://elcaminodelatortuga.com/assets/characters/cap4-esc3-4-5-danta-off.gif";
//CHAPTER 5
$character-chapter-5-scene-1-2-right-before-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc1-2-tortuga-der-antes-rio.gif";
$character-chapter-5-scene-1-2-right-after-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc1-2-tortuga-der-despues-rio.gif";
$character-chapter-5-scene-1-2-left-before-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc1-2-tortuga-izq-antes-rio.gif";
$character-chapter-5-scene-1-2-left-after-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc1-2-tortuga-izq-despues-rio.gif";
$character-chapter-5-scene-1-2-main-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc1-2-tortuga-protagonista.gif";
$character-chapter-5-scene-3-right-before-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc3-tortuga-der-antes-rio.gif";
$character-chapter-5-scene-3-right-after-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc3-tortuga-der-despues-rio.gif";
$character-chapter-5-scene-3-left-before-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc3-tortuga-izq-antes-rio.gif";
$character-chapter-5-scene-3-left-after-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc3-tortuga-izq-despues-rio.gif";
$character-chapter-5-scene-3-main-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc3-tortuga-protagonista.gif";
$character-chapter-5-scene-5-middle-after-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc5-tortuga-centro-despues-rio.gif";
$character-chapter-5-scene-5-right-after-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc5-tortuga-der-despues-rio.gif";
$character-chapter-5-scene-5-left-after-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc5-tortuga-izq-despues-rio.gif";
$character-chapter-5-scene-5-left-before-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc5-tortuga-izq-antes-rio.gif";
$character-chapter-5-scene-5-main-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc5-tortuga-protagonista.gif";
$character-chapter-5-scene-6-right-back-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc6-tortuga-der-atras.gif";
$character-chapter-5-scene-6-right-front-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc6-tortuga-der-delante.gif";
$character-chapter-5-scene-6-left-back-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc6-tortuga-izq-atras.gif";
$character-chapter-5-scene-6-left-front-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc6-tortuga-izq-delante.gif";
$character-chapter-5-scene-6-main-turtle: "https://elcaminodelatortuga.com/assets/characters/cap5-esc6-tortuga-protagonista.gif";
//MAP
$character-map-cuy: "https://elcaminodelatortuga.com/assets/characters/mapa-cuy.gif";
