/* ***************************************************************
 * Color Pallet
 * **************************************************************/

$color-primary-blue: #182642;
$color-primary-white: #ffffff;
$color-primary-black: #000000;
