$elements-front-page-title: "https://elcaminodelatortuga.com/assets/elements/portada-titulo.png";
$elements-front-page-right-bush: "https://elcaminodelatortuga.com/assets/elements/portada-arbusto-derecha.png";
$elements-front-page-left-bush: "https://elcaminodelatortuga.com/assets/elements/portada-arbusto-izquierda.png";
//CHAPTER 1
$elements-chapter-1-scene-2-cambuche: "https://elcaminodelatortuga.com/assets/elements/cap1-esc2-cambuche.png";
$elements-chapter-1-scene-3-enea: "https://elcaminodelatortuga.com/assets/elements/cap1-esc3-enea.png";
$elements-chapter-1-scene-3-casa-cuy: "https://elcaminodelatortuga.com/assets/elements/cap1-esc3-casa-cuy.png";
$elements-chapter-1-scene-4-5-car: "https://elcaminodelatortuga.com/assets/elements/cap1-esc4-5-carro.png";
//CHAPTER 2
$elements-chapter-2-scene-3-fruits: "https://elcaminodelatortuga.com/assets/elements/cap2-esc3-globo-frutas.png";
$elements-chapter-2-scene-4-logs: "https://elcaminodelatortuga.com/assets/elements/cap2-esc4-tronquitos.png";
$elements-chapter-2-scene-6-backpack-state-1: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-1.png";
$elements-chapter-2-scene-6-backpack-state-2: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-2.png";
$elements-chapter-2-scene-6-backpack-state-3: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-3.png";
$elements-chapter-2-scene-6-backpack-state-4: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-4.png";
$elements-chapter-2-scene-6-backpack-state-5: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-5.png";
$elements-chapter-2-scene-6-backpack-state-1-990: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-1-990.png";
$elements-chapter-2-scene-6-backpack-state-2-990: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-2-990.png";
$elements-chapter-2-scene-6-backpack-state-3-990: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-3-990.png";
$elements-chapter-2-scene-6-backpack-state-4-990: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-4-990.png";
$elements-chapter-2-scene-6-backpack-state-5-990: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-5-990.png";
$elements-chapter-2-scene-6-backpack-state-1-640: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-1-640.png";
$elements-chapter-2-scene-6-backpack-state-2-640: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-2-640.png";
$elements-chapter-2-scene-6-backpack-state-3-640: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-3-640.png";
$elements-chapter-2-scene-6-backpack-state-4-640: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-4-640.png";
$elements-chapter-2-scene-6-backpack-state-5-640: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-maleta-estado-5-640.png";
$elements-chapter-2-scene-6-left-tree: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-arbol-izquierda.png";
$elements-chapter-2-scene-6-right-tree: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-arbol-derecha.png";
$elements-chapter-2-scene-6-seed-right-back-off: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-semilla-derecha-atras-off.png";
$elements-chapter-2-scene-6-seed-right-back-off-990: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-semilla-derecha-atras-off-990.png";
$elements-chapter-2-scene-6-seed-right-back-off-640: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-semilla-derecha-atras-off-640.png";
$elements-chapter-2-scene-6-seed-right-back-on: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-semilla-derecha-atras-on.png";
$elements-chapter-2-scene-6-seed-right-back-on-990: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-semilla-derecha-atras-on-990.png";
$elements-chapter-2-scene-6-seed-right-back-on-640: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-semilla-derecha-atras-on-640.png";
$elements-chapter-2-scene-6-seed-left-front-off: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-semilla-izquierda-delante-off.png";
$elements-chapter-2-scene-6-seed-left-front-off-990: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-semilla-izquierda-delante-off-990.png";
$elements-chapter-2-scene-6-seed-left-front-off-640: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-semilla-izquierda-delante-off-640.png";
$elements-chapter-2-scene-6-seed-left-front-on: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-semilla-izquierda-delante-on.png";
$elements-chapter-2-scene-6-seed-left-front-on-990: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-semilla-izquierda-delante-on-990.png";
$elements-chapter-2-scene-6-seed-left-front-on-640: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-semilla-izquierda-delante-on-640.png";
$elements-chapter-2-scene-6-stem-back-off: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-tallito-atras-off.png";
$elements-chapter-2-scene-6-stem-back-off-990: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-tallito-atras-off-990.png";
$elements-chapter-2-scene-6-stem-back-off-640: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-tallito-atras-off-640.png";
$elements-chapter-2-scene-6-stem-back-on: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-tallito-atras-on.png";
$elements-chapter-2-scene-6-stem-back-on-990: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-tallito-atras-on-990.png";
$elements-chapter-2-scene-6-stem-back-on-640: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-tallito-atras-on-640.png";
$elements-chapter-2-scene-6-stem-front-off: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-tallito-delante-off.png";
$elements-chapter-2-scene-6-stem-front-off-990: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-tallito-delante-off-990.png";
$elements-chapter-2-scene-6-stem-front-off-640: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-tallito-delante-off-640.png";
$elements-chapter-2-scene-6-stem-front-on: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-tallito-delante-on.png";
$elements-chapter-2-scene-6-stem-front-on-990: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-tallito-delante-on-990.png";
$elements-chapter-2-scene-6-stem-front-on-640: "https://elcaminodelatortuga.com/assets/elements/cap2-esc6-tallito-delante-on-640.png";
// CS-S6 HEIGHT: 360
$elements-chapter-2-scene-6-mochila-estado-1-h360: "https://elcaminodelatortuga.com/assets/elements/actividad-c2-s6/cap2-esc6-maleta-estado-1-640.png";
$elements-chapter-2-scene-6-mochila-estado-2-h360: "https://elcaminodelatortuga.com/assets/elements/actividad-c2-s6/cap2-esc6-maleta-estado-2-640.png";
$elements-chapter-2-scene-6-mochila-estado-3-h360: "https://elcaminodelatortuga.com/assets/elements/actividad-c2-s6/cap2-esc6-maleta-estado-3-640.png";
$elements-chapter-2-scene-6-mochila-estado-4-h360: "https://elcaminodelatortuga.com/assets/elements/actividad-c2-s6/cap2-esc6-maleta-estado-4-640.png";
$elements-chapter-2-scene-6-mochila-estado-5-h360: "https://elcaminodelatortuga.com/assets/elements/actividad-c2-s6/cap2-esc6-maleta-estado-5-640.png";

$elements-chapter-2-scene-6-semilla-derecha-atras-off-h360: "https://elcaminodelatortuga.com/assets/elements/actividad-c2-s6/cap2-esc6-semilla-derecha-atras-off-640.png";
$elements-chapter-2-scene-6-semilla-derecha-atras-on-h360: "https://elcaminodelatortuga.com/assets/elements/actividad-c2-s6/cap2-esc6-semilla-derecha-atras-on-640.png";
$elements-chapter-2-scene-6-semilla-izquierda-delante-off-h360: "https://elcaminodelatortuga.com/assets/elements/actividad-c2-s6/cap2-esc6-semilla-izquierda-delante-off-640.png";
$elements-chapter-2-scene-6-semilla-izquierda-delante-on-h360: "https://elcaminodelatortuga.com/assets/elements/actividad-c2-s6/cap2-esc6-semilla-izquierda-delante-on-640.png";

$elements-chapter-2-scene-6-tallito-atras-off-h360: "https://elcaminodelatortuga.com/assets/elements/actividad-c2-s6/cap2-esc6-tallito-atras-off-640.png";
$elements-chapter-2-scene-6-tallito-atras-on-h360: "https://elcaminodelatortuga.com/assets/elements/actividad-c2-s6/cap2-esc6-tallito-atras-on-640.png";
$elements-chapter-2-scene-6-tallito-delante-off-h360: "https://elcaminodelatortuga.com/assets/elements/actividad-c2-s6/cap2-esc6-tallito-delante-off-640.png";
$elements-chapter-2-scene-6-tallito-delante-on-h360: "https://elcaminodelatortuga.com/assets/elements/actividad-c2-s6/cap2-esc6-tallito-delante-on-640.png";

//CHAPTER 3
$elements-chapter-3-scene-1-log: "https://elcaminodelatortuga.com/assets/elements/cap3-esc1-tronco.png";
$elements-chapter-3-scene-2-log: "https://elcaminodelatortuga.com/assets/elements/cap3-esc2-tronco.png";
$elements-chapter-3-scene-3-4-log: "https://elcaminodelatortuga.com/assets/elements/cap3-esc3-4-tronco.png";
$elements-chapter-3-scene-5-6-7-log: "https://elcaminodelatortuga.com/assets/elements/cap3-esc5-6-7-tronco.png";
$elements-chapter-3-scene-6-river-globe: "https://elcaminodelatortuga.com/assets/elements/cap3-esc6-globo-rio.png";
$elements-chapter-3-scene-8-puzzle-ref: "https://elcaminodelatortuga.com/assets/elements/cap3-esc7-rompecabezas-peque.png";
$elements-chapter-3-scene-8-piece-1-pos-1: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-1-posicion-1.png";
$elements-chapter-3-scene-8-piece-1-pos-2: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-1-posicion-2.png";
$elements-chapter-3-scene-8-piece-1-pos-3: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-1-posicion-3.png";
$elements-chapter-3-scene-8-piece-1-pos-4: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-1-posicion-4.png";
$elements-chapter-3-scene-8-piece-2-pos-1: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-2-posicion-1.png";
$elements-chapter-3-scene-8-piece-2-pos-2: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-2-posicion-2.png";
$elements-chapter-3-scene-8-piece-2-pos-3: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-2-posicion-3.png";
$elements-chapter-3-scene-8-piece-2-pos-4: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-2-posicion-4.png";
$elements-chapter-3-scene-8-piece-3-pos-1: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-3-posicion-1.png";
$elements-chapter-3-scene-8-piece-3-pos-2: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-3-posicion-2.png";
$elements-chapter-3-scene-8-piece-3-pos-3: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-3-posicion-3.png";
$elements-chapter-3-scene-8-piece-3-pos-4: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-3-posicion-4.png";
$elements-chapter-3-scene-8-piece-4-pos-1: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-4-posicion-1.png";
$elements-chapter-3-scene-8-piece-4-pos-2: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-4-posicion-2.png";
$elements-chapter-3-scene-8-piece-4-pos-3: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-4-posicion-3.png";
$elements-chapter-3-scene-8-piece-4-pos-4: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-4-posicion-4.png";
$elements-chapter-3-scene-8-piece-5-pos-1: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-5-posicion-1.png";
$elements-chapter-3-scene-8-piece-5-pos-2: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-5-posicion-2.png";
$elements-chapter-3-scene-8-piece-5-pos-3: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-5-posicion-3.png";
$elements-chapter-3-scene-8-piece-5-pos-4: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-5-posicion-4.png";
$elements-chapter-3-scene-8-piece-6-pos-1: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-6-posicion-1.png";
$elements-chapter-3-scene-8-piece-6-pos-2: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-6-posicion-2.png";
$elements-chapter-3-scene-8-piece-6-pos-3: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-6-posicion-3.png";
$elements-chapter-3-scene-8-piece-6-pos-4: "https://elcaminodelatortuga.com/assets/elements/cap3-esc8-ficha-6-posicion-4.png";

// C3 S8 HEIGHT 360
$elements-chapter-3-scene-8-ficha-1-pos-1: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-1-posicion-1-360.png";
$elements-chapter-3-scene-8-ficha-1-pos-2: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-1-posicion-2-360.png";
$elements-chapter-3-scene-8-ficha-1-pos-3: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-1-posicion-3-360.png";
$elements-chapter-3-scene-8-ficha-1-pos-4: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-1-posicion-4-360.png";

$elements-chapter-3-scene-8-ficha-2-pos-1: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-2-posicion-1-360.png";
$elements-chapter-3-scene-8-ficha-2-pos-2: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-2-posicion-2-360.png";
$elements-chapter-3-scene-8-ficha-2-pos-3: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-2-posicion-3-360.png";
$elements-chapter-3-scene-8-ficha-2-pos-4: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-2-posicion-4-360.png";

$elements-chapter-3-scene-8-ficha-3-pos-1: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-3-posicion-1-360.png";
$elements-chapter-3-scene-8-ficha-3-pos-2: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-3-posicion-2-360.png";
$elements-chapter-3-scene-8-ficha-3-pos-3: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-3-posicion-3-360.png";
$elements-chapter-3-scene-8-ficha-3-pos-4: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-3-posicion-4-360.png";

$elements-chapter-3-scene-8-ficha-4-pos-1: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-4-posicion-1-360.png";
$elements-chapter-3-scene-8-ficha-4-pos-2: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-4-posicion-2-360.png";
$elements-chapter-3-scene-8-ficha-4-pos-3: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-4-posicion-3-360.png";
$elements-chapter-3-scene-8-ficha-4-pos-4: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-4-posicion-4-360.png";

$elements-chapter-3-scene-8-ficha-5-pos-1: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-5-posicion-1-360.png";
$elements-chapter-3-scene-8-ficha-5-pos-2: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-5-posicion-2-360.png";
$elements-chapter-3-scene-8-ficha-5-pos-3: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-5-posicion-3-360.png";
$elements-chapter-3-scene-8-ficha-5-pos-4: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-5-posicion-4-360.png";

$elements-chapter-3-scene-8-ficha-6-pos-1: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-6-posicion-1-360.png";
$elements-chapter-3-scene-8-ficha-6-pos-2: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-6-posicion-2-360.png";
$elements-chapter-3-scene-8-ficha-6-pos-3: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-6-posicion-3-360.png";
$elements-chapter-3-scene-8-ficha-6-pos-4: "https://elcaminodelatortuga.com/assets/elements/actividad-c3-s8/ficha-6-posicion-4-360.png";

//CHAPTER 4
$elements-chapter-4-scene-1-2-6-frailejon-danta: "https://elcaminodelatortuga.com/assets/elements/cap4-esc1-2-6-frailejon-danta.png";
$elements-chapter-4-scene-1-2-6-frailejon-turtle: "https://elcaminodelatortuga.com/assets/elements/cap4-esc1-2-6-frailejon-tortuga.png";
$elements-chapter-4-scene-1-front-fog: "https://elcaminodelatortuga.com/assets/elements/cap4-esc1-neblina-capa-encima.png";
$elements-chapter-4-scene-2-3-4-front-frailejon: "https://elcaminodelatortuga.com/assets/elements/cap4-esc2-3-4-frailejon-frente.png";
$elements-chapter-4-scene-5-star-on: "https://elcaminodelatortuga.com/assets/elements/cap4-esc5-estrella-on.png";
$elements-chapter-4-scene-5-star-off: "https://elcaminodelatortuga.com/assets/elements/cap4-esc5-estrella-off.png";
$elements-chapter-4-scene-5-lamp-on: "https://elcaminodelatortuga.com/assets/elements/cap4-esc5-lampara-on.png";
$elements-chapter-4-scene-5-lamp-off: "https://elcaminodelatortuga.com/assets/elements/cap4-esc5-lampara-off.png";
$elements-chapter-4-scene-5-moon-on: "https://elcaminodelatortuga.com/assets/elements/cap4-esc5-luna-on.png";
$elements-chapter-4-scene-5-moon-off: "https://elcaminodelatortuga.com/assets/elements/cap4-esc5-luna-off.png";
$elements-chapter-4-scene-5-sun: "https://elcaminodelatortuga.com/assets/elements/cap4-esc5-sol.png";
$elements-chapter-4-scene-5-clouds-f: "https://elcaminodelatortuga.com/assets/elements/cap4-esc5-nubesf.png";
$elements-chapter-4-scene-5-center-clouds: "https://elcaminodelatortuga.com/assets/elements/cap4-esc5-nubes-centro.png";
//CHAPTER 5
$elements-chapter-5-scene-4-piece-branches-on: "https://elcaminodelatortuga.com/assets/elements/cap5-esc4-ficha-ramas-on.png";
$elements-chapter-5-scene-4-piece-branches-off: "https://elcaminodelatortuga.com/assets/elements/cap5-esc4-ficha-ramas-off.png";
$elements-chapter-5-scene-4-piece-river-on: "https://elcaminodelatortuga.com/assets/elements/cap5-esc4-ficha-rio-on.png";
$elements-chapter-5-scene-4-piece-river-off: "https://elcaminodelatortuga.com/assets/elements/cap5-esc4-ficha-rio-off.png";
$elements-chapter-5-scene-4-piece-sun-on: "https://elcaminodelatortuga.com/assets/elements/cap5-esc4-ficha-sol-on.png";
$elements-chapter-5-scene-4-piece-sun-off: "https://elcaminodelatortuga.com/assets/elements/cap5-esc4-ficha-sol-off.png";
$elements-chapter-5-scene-4-backpack: "https://elcaminodelatortuga.com/assets/elements/cap5-esc4-mochilas.png";
$elements-chapter-5-scene-4-dotted-branches: "https://elcaminodelatortuga.com/assets/elements/cap5-esc4-ramas-punteado.png";
$elements-chapter-5-scene-4-dotted-sun: "https://elcaminodelatortuga.com/assets/elements/cap5-esc4-sol-punteado.png";
$elements-chapter-5-scene-4-dotted-river: "https://elcaminodelatortuga.com/assets/elements/cap5-esc4-rio-punteado.png";
$elements-chapter-5-scene-4-branches: "https://elcaminodelatortuga.com/assets/elements/cap5-esc4-ramas.png";
$elements-chapter-5-scene-4-sun: "https://elcaminodelatortuga.com/assets/elements/cap5-esc4-sol.png";
//MAP
$elements-map-btn-chapter1: "https://elcaminodelatortuga.com/assets/elements/mapa-sabana-boton.png";
$elements-map-btn-chapter2-on: "https://elcaminodelatortuga.com/assets/elements/mapa-tucan-boton-on.png";
$elements-map-btn-chapter2-off: "https://elcaminodelatortuga.com/assets/elements/mapa-tucan-boton-off.png";
$elements-map-btn-chapter3-on: "https://elcaminodelatortuga.com/assets/elements/mapa-serpiente-boton-on.png";
$elements-map-btn-chapter3-off: "https://elcaminodelatortuga.com/assets/elements/mapa-serpiente-boton-off.png";
$elements-map-btn-chapter4-on: "https://elcaminodelatortuga.com/assets/elements/mapa-danta-boton-on.png";
$elements-map-btn-chapter4-off: "https://elcaminodelatortuga.com/assets/elements/mapa-danta-boton-off.png";
$elements-map-btn-chapter5-on: "https://elcaminodelatortuga.com/assets/elements/mapa-llanos-boton-on.png";
$elements-map-btn-chapter5-off: "https://elcaminodelatortuga.com/assets/elements/mapa-llanos-boton-off.png";
$elements-map-turtle-left: "https://elcaminodelatortuga.com/assets/elements/mapa-tortuga-posicion-izquierda.png";
$elements-map-turtle-right: "https://elcaminodelatortuga.com/assets/elements/mapa-tortuga-posicion-derecha.png";
$elements-map-turtle-top: "https://elcaminodelatortuga.com/assets/elements/mapa-tortuga-posicion-arriba.png";
$elements-map-turtle-bottom: "https://elcaminodelatortuga.com/assets/elements/mapa-tortuga-posicion-abajo.png";
$elements-map-textbox: "https://elcaminodelatortuga.com/assets/elements/mapa-vineta.png";
//BACKPACK
$elements-backpack-food-on: "https://elcaminodelatortuga.com/assets/elements/mochila-medalla-comida-on.png";
$elements-backpack-food-off: "https://elcaminodelatortuga.com/assets/elements/mochila-medalla-comida-off.png";
$elements-backpack-river-on: "https://elcaminodelatortuga.com/assets/elements/mochila-medalla-rio-on.png";
$elements-backpack-river-off: "https://elcaminodelatortuga.com/assets/elements/mochila-medalla-rio-off.png";
$elements-backpack-sun-on: "https://elcaminodelatortuga.com/assets/elements/mochila-medalla-sol-on.png";
$elements-backpack-sun-off: "https://elcaminodelatortuga.com/assets/elements/mochila-medalla-sol-off.png";

//CHAPTER 1 REDUCED
$elements-arbusto-adelante-1980: "https://elcaminodelatortuga.com/assets/elements/reduced/arbusto-adelante-1980.png";
$elements-cap1-esc2-arbusto-derecha: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc2-arbusto-derecha.png";
$elements-cap1-esc2-arbusto-izquierda: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc2-arbusto-izquierda.png";
$elements-cap1-esc2-pasto-al-frente: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc2-pasto-al-frente.png";
$elements-cap1-esc2-fondo: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc2-fondo.png";
$elements-cap1-esc3-enea: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc3-enea.png";
$elements-cap1-esc3-fondo: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc3-fondo.png";
$elements-cap1-esc4-5-carro: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc4-5-carro.png";
$elements-cap1-esc4-5-fondo: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc4-5-fondo.png";
$elements-cap1-esc6-arbusto-derecho: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc6-arbusto-derecho.png";
$elements-cap1-esc6-arbusto-izquierdo: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc6-arbusto-izquierdo.png";
$elements-cap1-esc6-pasto-adelante: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc6-pasto-adelante.png";
$elements-cap1-esc6-fondo: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc6-fondo.png";
$elements-cap1-esc7-arbusto-derecho: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc7-arbusto-derecho.png";
$elements-cap1-esc7-arbusto-izquierdo: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc7-arbusto-izquierdo.png";
$elements-cap1-esc7-pasto-adelante: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc7-pasto-adelante.png";
$elements-cap1-esc7-fondo: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc7-fondo.png";
$elements-cap1-esc8-pasto-adelante: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc8-pasto-adelante.png";
$elements-cap1-esc8-fondo: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc8-fondo.png";
$elements-cap1-esc11-fondo: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc11-fondo.png";
$elements-cap1-esc12-fondo: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc12-fondo.png";
$elements-cap1-esc13-fondo: "https://elcaminodelatortuga.com/assets/elements/reduced/cap1-esc13-fondo.png";

//LOGOS
$elements-logo-nidos: "https://elcaminodelatortuga.com/assets/elements/logo-nidos.svg";
$elements-logo-alcaldia-bogota: "https://elcaminodelatortuga.com/assets/elements/logo-alcaldia-bogota.svg";
