//CHAPTER 1
$elements-front-page-title: "/assets/elements/portada-titulo.png";
$elements-chapter-1-scene-2-cambuche: "/assets/elements/cap1-esc2-cambuche.png";
$elements-chapter-1-scene-3-car: "/assets/elements/cap1-esc3-carro.png";
$elements-chapter-1-scene-3-enea: "/assets/elements/cap1-esc3-enea.png";
$elements-chapter-1-scene-2-5-casa-cuy: "/assets/elements/cap1-esc2.5-casa-cuy.png";
$elements-chapter-1-scene-3-buildings: "/assets/elements/cap1-esc3-edificios.png";
//CHAPTER 2
$elements-chapter-2-scene-3-fruits: "/assets/elements/cap2-esc3-globo-frutas.png";
$elements-chapter-2-scene-4-logs: "/assets/elements/cap2-esc4-tronquitos.png";
$elements-chapter-2-scene-6-backpack-state-1: "/assets/elements/cap2-esc6-maleta-estado-1.png";
$elements-chapter-2-scene-6-backpack-state-2: "/assets/elements/cap2-esc6-maleta-estado-2.png";
$elements-chapter-2-scene-6-backpack-state-3: "/assets/elements/cap2-esc6-maleta-estado-3.png";
$elements-chapter-2-scene-6-backpack-state-4: "/assets/elements/cap2-esc6-maleta-estado-4.png";
$elements-chapter-2-scene-6-backpack-state-5: "/assets/elements/cap2-esc6-maleta-estado-5.png";
$elements-chapter-2-scene-6-seed-right-back-off: "/assets/elements/cap2-esc6-semilla-derecha-atras-off.png";
$elements-chapter-2-scene-6-seed-right-back-on: "/assets/elements/cap2-esc6-semilla-derecha-atras-on.png";
$elements-chapter-2-scene-6-seed-left-front-off: "/assets/elements/cap2-esc6-semilla-izquierda-delante-off.png";
$elements-chapter-2-scene-6-seed-left-front-on: "/assets/elements/cap2-esc6-semilla-izquierda-delante-on.png";
$elements-chapter-2-scene-6-stem-back-off: "/assets/elements/cap2-esc6-tallito-atras-off.png";
$elements-chapter-2-scene-6-stem-back-on: "/assets/elements/cap2-esc6-tallito-atras-on.png";
$elements-chapter-2-scene-6-stem-front-off: "/assets/elements/cap2-esc6-tallito-delante-off.png";
$elements-chapter-2-scene-6-stem-front-on: "/assets/elements/cap2-esc6-tallito-delante-on.png";
//CHAPTER 3
$elements-chapter-3-scene-1-log: "/assets/elements/cap3-esc1-tronco.png";
$elements-chapter-3-scene-2-log: "/assets/elements/cap3-esc2-tronco.png";
$elements-chapter-3-scene-3-4-log: "/assets/elements/cap3-esc3-4-tronco.png";
$elements-chapter-3-scene-5-6-7-log: "/assets/elements/cap3-esc5-6-7-tronco.png";
$elements-chapter-3-scene-6-river-globe: "/assets/elements/cap3-esc6-globo-rio.png";
$elements-chapter-3-scene-8-piece-1-pos-1: "/assets/elements/cap3-esc8-ficha-1-posicion-1.png";
$elements-chapter-3-scene-8-piece-1-pos-2: "/assets/elements/cap3-esc8-ficha-1-posicion-2.png";
$elements-chapter-3-scene-8-piece-1-pos-3: "/assets/elements/cap3-esc8-ficha-1-posicion-3.png";
$elements-chapter-3-scene-8-piece-1-pos-4: "/assets/elements/cap3-esc8-ficha-1-posicion-4.png";
$elements-chapter-3-scene-8-piece-2-pos-1: "/assets/elements/cap3-esc8-ficha-2-posicion-1.png";
$elements-chapter-3-scene-8-piece-2-pos-2: "/assets/elements/cap3-esc8-ficha-2-posicion-2.png";
$elements-chapter-3-scene-8-piece-2-pos-3: "/assets/elements/cap3-esc8-ficha-2-posicion-3.png";
$elements-chapter-3-scene-8-piece-2-pos-1: "/assets/elements/cap3-esc8-ficha-2-posicion-4.png";
$elements-chapter-3-scene-8-piece-3-pos-1: "/assets/elements/cap3-esc8-ficha-3-posicion-1.png";
$elements-chapter-3-scene-8-piece-3-pos-2: "/assets/elements/cap3-esc8-ficha-3-posicion-2.png";
$elements-chapter-3-scene-8-piece-3-pos-3: "/assets/elements/cap3-esc8-ficha-3-posicion-3.png";
$elements-chapter-3-scene-8-piece-3-pos-4: "/assets/elements/cap3-esc8-ficha-3-posicion-4.png";
$elements-chapter-3-scene-8-piece-4-pos-1: "/assets/elements/cap3-esc8-ficha-4-posicion-1.png";
$elements-chapter-3-scene-8-piece-4-pos-2: "/assets/elements/cap3-esc8-ficha-4-posicion-2.png";
$elements-chapter-3-scene-8-piece-4-pos-3: "/assets/elements/cap3-esc8-ficha-4-posicion-3.png";
$elements-chapter-3-scene-8-piece-4-pos-4: "/assets/elements/cap3-esc8-ficha-4-posicion-4.png";
$elements-chapter-3-scene-8-piece-5-pos-1: "/assets/elements/cap3-esc8-ficha-5-posicion-1.png";
$elements-chapter-3-scene-8-piece-5-pos-2: "/assets/elements/cap3-esc8-ficha-5-posicion-2.png";
$elements-chapter-3-scene-8-piece-5-pos-3: "/assets/elements/cap3-esc8-ficha-5-posicion-3.png";
$elements-chapter-3-scene-8-piece-5-pos-4: "/assets/elements/cap3-esc8-ficha-5-posicion-4.png";
$elements-chapter-3-scene-8-piece-6-pos-1: "/assets/elements/cap3-esc8-ficha-6-posicion-1.png";
$elements-chapter-3-scene-8-piece-6-pos-2: "/assets/elements/cap3-esc8-ficha-6-posicion-2.png";
$elements-chapter-3-scene-8-piece-6-pos-3: "/assets/elements/cap3-esc8-ficha-6-posicion-3.png";
$elements-chapter-3-scene-8-piece-6-pos-4: "/assets/elements/cap3-esc8-ficha-6-posicion-4.png";
//CHAPTER 4
//CHAPTER 5
