//CHAPTER 1
$elements-front-page-title: "/assets/elements/portada-titulo.png";
$elements-chapter-1-scene-2-cambuche: "/assets/elements/cap1-esc2-cambuche.png";
$elements-chapter-1-scene-3-car: "/assets/elements/cap1-esc3-carro.png";
$elements-chapter-1-scene-3-enea: "/assets/elements/cap1-esc3-enea.png";
$elements-chapter-1-scene-2-5-casa-cuy: "/assets/elements/cap1-esc2.5-casa-cuy.png";
$elements-chapter-1-scene-3-buildings: "/assets/elements/cap1-esc3-edificios.png";
//CHAPTER 2
$elements-chapter-2-scene-3-fruits: "/assets/elements/cap2-esc3-globo-frutas.png";
$elements-chapter-2-scene-4-logs: "/assets/elements/cap2-esc4-tronquitos.png";
$elements-chapter-2-scene-6-backpack-state-1: "/assets/elements/cap2-esc6-maleta-estado-1.png";
$elements-chapter-2-scene-6-backpack-state-2: "/assets/elements/cap2-esc6-maleta-estado-2.png";
$elements-chapter-2-scene-6-backpack-state-3: "/assets/elements/cap2-esc6-maleta-estado-3.png";
$elements-chapter-2-scene-6-backpack-state-4: "/assets/elements/cap2-esc6-maleta-estado-4.png";
$elements-chapter-2-scene-6-backpack-state-5: "/assets/elements/cap2-esc6-maleta-estado-5.png";
$elements-chapter-2-scene-6-seed-right-back-off: "/assets/elements/cap2-esc6-semilla-derecha-atras-off.png";
$elements-chapter-2-scene-6-seed-right-back-on: "/assets/elements/cap2-esc6-semilla-derecha-atras-on.png";
$elements-chapter-2-scene-6-seed-left-front-off: "/assets/elements/cap2-esc6-semilla-izquierda-delante-off.png";
$elements-chapter-2-scene-6-seed-left-front-on: "/assets/elements/cap2-esc6-semilla-izquierda-delante-on.png";
$elements-chapter-2-scene-6-stem-back-off: "/assets/elements/cap2-esc6-tallito-atras-off.png";
$elements-chapter-2-scene-6-stem-back-on: "/assets/elements/cap2-esc6-tallito-atras-on.png";
$elements-chapter-2-scene-6-stem-front-off: "/assets/elements/cap2-esc6-tallito-delante-off.png";
$elements-chapter-2-scene-6-stem-front-on: "/assets/elements/cap2-esc6-tallito-delante-on.png";
//CHAPTER 3
$elements-chapter-3-scene-1-log: "/assets/elements/cap3-esc1-tronco.png";
$elements-chapter-3-scene-2-log: "/assets/elements/cap3-esc2-tronco.png";
$elements-chapter-3-scene-3-4-log: "/assets/elements/cap3-esc3-4-tronco.png";
$elements-chapter-3-scene-5-6-7-log: "/assets/elements/cap3-esc5-6-7-tronco.png";
$elements-chapter-3-scene-6-river-globe: "/assets/elements/cap3-esc6-globo-rio.png";
$elements-chapter-3-scene-8-puzzle-ref: "/assets/elements/cap3-esc7-rompecabezas-peque.png";
$elements-chapter-3-scene-8-piece-1-pos-1: "/assets/elements/cap3-esc8-ficha-1-posicion-1.png";
$elements-chapter-3-scene-8-piece-1-pos-2: "/assets/elements/cap3-esc8-ficha-1-posicion-2.png";
$elements-chapter-3-scene-8-piece-1-pos-3: "/assets/elements/cap3-esc8-ficha-1-posicion-3.png";
$elements-chapter-3-scene-8-piece-1-pos-4: "/assets/elements/cap3-esc8-ficha-1-posicion-4.png";
$elements-chapter-3-scene-8-piece-2-pos-1: "/assets/elements/cap3-esc8-ficha-2-posicion-1.png";
$elements-chapter-3-scene-8-piece-2-pos-2: "/assets/elements/cap3-esc8-ficha-2-posicion-2.png";
$elements-chapter-3-scene-8-piece-2-pos-3: "/assets/elements/cap3-esc8-ficha-2-posicion-3.png";
$elements-chapter-3-scene-8-piece-2-pos-4: "/assets/elements/cap3-esc8-ficha-2-posicion-4.png";
$elements-chapter-3-scene-8-piece-3-pos-1: "/assets/elements/cap3-esc8-ficha-3-posicion-1.png";
$elements-chapter-3-scene-8-piece-3-pos-2: "/assets/elements/cap3-esc8-ficha-3-posicion-2.png";
$elements-chapter-3-scene-8-piece-3-pos-3: "/assets/elements/cap3-esc8-ficha-3-posicion-3.png";
$elements-chapter-3-scene-8-piece-3-pos-4: "/assets/elements/cap3-esc8-ficha-3-posicion-4.png";
$elements-chapter-3-scene-8-piece-4-pos-1: "/assets/elements/cap3-esc8-ficha-4-posicion-1.png";
$elements-chapter-3-scene-8-piece-4-pos-2: "/assets/elements/cap3-esc8-ficha-4-posicion-2.png";
$elements-chapter-3-scene-8-piece-4-pos-3: "/assets/elements/cap3-esc8-ficha-4-posicion-3.png";
$elements-chapter-3-scene-8-piece-4-pos-4: "/assets/elements/cap3-esc8-ficha-4-posicion-4.png";
$elements-chapter-3-scene-8-piece-5-pos-1: "/assets/elements/cap3-esc8-ficha-5-posicion-1.png";
$elements-chapter-3-scene-8-piece-5-pos-2: "/assets/elements/cap3-esc8-ficha-5-posicion-2.png";
$elements-chapter-3-scene-8-piece-5-pos-3: "/assets/elements/cap3-esc8-ficha-5-posicion-3.png";
$elements-chapter-3-scene-8-piece-5-pos-4: "/assets/elements/cap3-esc8-ficha-5-posicion-4.png";
$elements-chapter-3-scene-8-piece-6-pos-1: "/assets/elements/cap3-esc8-ficha-6-posicion-1.png";
$elements-chapter-3-scene-8-piece-6-pos-2: "/assets/elements/cap3-esc8-ficha-6-posicion-2.png";
$elements-chapter-3-scene-8-piece-6-pos-3: "/assets/elements/cap3-esc8-ficha-6-posicion-3.png";
$elements-chapter-3-scene-8-piece-6-pos-4: "/assets/elements/cap3-esc8-ficha-6-posicion-4.png";
//CHAPTER 4
$elements-chapter-4-scene-1-frailejon-danta: "/assets/elements/cap4-esc1-frailejon-danta.png";
$elements-chapter-4-scene-1-frailejon-turtle: "/assets/elements/cap4-esc1-frailejon-tortuga.png";
$elements-chapter-4-scene-1-front-fog: "/assets/elements/cap4-esc1-neblina-capa-encima.png";
$elements-chapter-4-scene-2-3-4-front-frailejon: "/assets/elements/cap4-esc2-3-4-frailejon-frente.png";
$elements-chapter-4-scene-5-star-on: "/assets/elements/cap4-esc5-estrella-on.png";
$elements-chapter-4-scene-5-star-off: "/assets/elements/cap4-esc5-estrella-off.png";
$elements-chapter-4-scene-5-lamp-on: "/assets/elements/cap4-esc5-lampara-on.png";
$elements-chapter-4-scene-5-lamp-off: "/assets/elements/cap4-esc5-lampara-off.png";
$elements-chapter-4-scene-5-moon-on: "/assets/elements/cap4-esc5-luna-on.png";
$elements-chapter-4-scene-5-moon-off: "/assets/elements/cap4-esc5-luna-off.png";
$elements-chapter-4-scene-5-sun: "/assets/elements/cap4-esc5-sol.png";
$elements-chapter-4-scene-5-clouds-f: "/assets/elements/cap4-esc5-nubesf.png";
$elements-chapter-4-scene-5-center-clouds: "/assets/elements/cap4-esc5-nubes-centro.png";
//CHAPTER 5
$elements-chapter-5-scene-4-piece-branches-on: "/assets/elements/cap5-esc4-ficha-ramas-on.png";
$elements-chapter-5-scene-4-piece-branches-off: "/assets/elements/cap5-esc4-ficha-ramas-off.png";
$elements-chapter-5-scene-4-piece-river-on: "/assets/elements/cap5-esc4-ficha-rio-on.png";
$elements-chapter-5-scene-4-piece-river-off: "/assets/elements/cap5-esc4-ficha-rio-off.png";
$elements-chapter-5-scene-4-piece-sun-on: "/assets/elements/cap5-esc4-ficha-sol-on.png";
$elements-chapter-5-scene-4-piece-sun-off: "/assets/elements/cap5-esc4-ficha-sol-off.png";
$elements-chapter-5-scene-4-backpack: "/assets/elements/cap5-esc4-mochilas.png";
$elements-chapter-5-scene-4-dotted-branches: "/assets/elements/cap5-esc4-ramas-punteado.png";
$elements-chapter-5-scene-4-dotted-sun: "/assets/elements/cap5-esc4-sol-punteado.png";
$elements-chapter-5-scene-4-dotted-river: "/assets/elements/cap5-esc4-rio-punteado.png";
$elements-chapter-5-scene-4-branches: "/assets/elements/cap5-esc4-ramas.png";
$elements-chapter-5-scene-4-sun: "/assets/elements/cap5-esc4-sol.png";
//MAP
$elements-map-btn-sabana-on: "/assets/elements/mapa-sabana-boton-on.png";
$elements-map-btn-danta-on: "/assets/elements/mapa-danta-boton-on.png";
$elements-map-btn-danta-off: "/assets/elements/mapa-danta-boton-off.png";
$elements-map-btn-llanos-on: "/assets/elements/mapa-llanos-boton-on.png";
$elements-map-btn-llanos-off: "/assets/elements/mapa-llanos-boton-off.png";
$elements-map-btn-serpiente-on: "/assets/elements/mapa-serpiente-boton-on.png";
$elements-map-btn-serpiente-off: "/assets/elements/mapa-serpiente-boton-off.png";
$elements-map-btn-tucan-on: "/assets/elements/mapa-tucan-boton-on.png";
$elements-map-btn-tucan-off: "/assets/elements/mapa-tucan-boton-off.png";
$elements-map-turtle-left: "/assets/elements/mapa-tortuga-posicion-izquierda.png";
$elements-map-turtle-right: "/assets/elements/mapa-tortuga-posicion-derecha.png";
$elements-map-turtle-top: "/assets/elements/mapa-tortuga-posicion-arriba.png";
$elements-map-turtle-bottom: "/assets/elements/mapa-tortuga-posicion-abajo.png";
$elements-map-textbox: "/assets/elements/mapa-viñeta.png";
