//CHAPTER 1
$gifs-front-page-front-bush: "/assets/gifs/portada-arbusto-adelante.gif";
$gifs-chapter-1-scene-1-bushes-with-rock: "/assets/gifs/cap1-esc1-arbustos-adelante-piedra.gif";
$gifs-chapter-1-scene-1-front-grass: "/assets/gifs/cap1-esc1-pasto-adelante.gif";
$gifs-chapter-1-scene-1-back-grass: "/assets/gifs/cap1-esc1-pasto-atras.gif";
$gifs-chapter-1-scene-2-back-right-bush: "/assets/gifs/cap1-esc2-arbusto-derecho-atras.gif";
$gifs-chapter-1-scene-2-back-left-bush: "/assets/gifs/cap1-esc2-arbusto-izquierdo-atras.gif";
$gifs-chapter-1-scene-2-front-right-grass: "/assets/gifs/cap1-esc2-pasto-derecha-delante.gif";
$gifs-chapter-1-scene-2-left-grass: "/assets/gifs/cap1-esc2-pasto-izquierdo.gif";
$gifs-chapter-1-scene-4-right-bush: "/assets/gifs/cap1-esc4-arbusto-derecho.gif";
$gifs-chapter-1-scene-4-left-bush: "/assets/gifs/cap1-esc4-arbusto-izq.gif";
$gifs-chapter-1-scene-4-front-grass: "/assets/gifs/cap1-esc4-pasto-al-frente.gif";
$gifs-chapter-1-scene-5-right-bush: "/assets/gifs/cap1-esc5-arbusto-derecho.gif";
$gifs-chapter-1-scene-5-left-bush: "/assets/gifs/cap1-esc5-arbusto-izq.gif";
$gifs-chapter-1-scene-5-front-grass: "/assets/gifs/cap1-esc5-pasto-al-frente.gif";
$gifs-chapter-1-scene-6-right-bush: "/assets/gifs/cap1-esc6-arbusto-derecho.gif";
$gifs-chapter-1-scene-6-left-bush: "/assets/gifs/cap1-esc6-arbusto-izquierdo.gif";
$gifs-chapter-1-scene-6-front-grass: "/assets/gifs/cap1-esc6-pasto-de-adelante.gif";
$gifs-chapter-1-scene-7-front-grass: "/assets/gifs/cap1-esc7-arbusto-adelante.gif";
$gifs-chapter-1-scene-7-back-grass: "/assets/gifs/cap1-esc7-arbusto-atras.gif";
$gifs-chapter-1-scene-8-right-bush: "/assets/gifs/cap1-esc8-arbusto-derecho.gif";
$gifs-chapter-1-scene-8-left-bush: "/assets/gifs/cap1-esc8-arbusto-izq.gif";
$gifs-chapter-1-scene-8-front-grass: "/assets/gifs/cap1-esc8-pasto-de-adelante.gif";
//CHAPTER 2
$gifs-chapter-2-scene-1-front-right-tree: "/assets/gifs/cap2-esc1-arbol-derecho-delante.gif";
$gifs-chapter-2-scene-1-back-left-tree: "/assets/gifs/cap2-esc1-arbol-izquierda-atras.gif";
//CHAPTER 3
//CHAPTER 4
//CHAPTER 5
