$gifs-front-page-front-bush: "/assets/gifs/portada-arbusto-adelante.gif";
//CHAPTER 1
$gifs-chapter-1-scene-1-7-bushes-with-rock: "/assets/gifs/cap1-esc1-7-arbustos-adelante-piedra.gif";
$gifs-chapter-1-scene-1-7-bushes-with-rock-reduced: "/assets/gifs/arbustos-detras-reduced.png";
$gifs-chapter-1-scene-1-7-front-grass: "/assets/gifs/cap1-esc1-7-pasto-adelante.gif";
$gifs-chapter-1-scene-1-7-front-grass-reduced: "/assets/gifs/arbusto-adelante-reduced.png";
$gifs-chapter-1-scene-1-7-front-grass-1440: "/assets/gifs/cap1-esc1-7-pasto-adelante-1440.gif";
$gifs-chapter-1-scene-1-7-back-grass: "/assets/gifs/cap1-esc1-7-pasto-atras.gif";
$gifs-chapter-1-scene-2-back-right-bush: "/assets/gifs/cap1-esc2-arbusto-derecho-atras.gif";
$gifs-chapter-1-scene-2-back-left-bush: "/assets/gifs/cap1-esc2-arbusto-izquierdo-atras.gif";
$gifs-chapter-1-scene-2-front-right-grass: "/assets/gifs/cap1-esc2-pasto-derecha-delante.gif";
$gifs-chapter-1-scene-2-left-grass: "/assets/gifs/cap1-esc2-pasto-izquierdo.gif";
$gifs-chapter-1-scene-2-front-right-grass-1920: "/assets/gifs/cap1-esc2-pasto-derecha-delante-1920.png";
$gifs-chapter-1-scene-2-front-left-grass-1920: "/assets/gifs/cap1-esc2-pasto-izquierdo-1920.png";
$gifs-chapter-1-scene-6-right-bush: "/assets/gifs/cap1-esc6-arbusto-derecho.gif";
$gifs-chapter-1-scene-6-left-bush: "/assets/gifs/cap1-esc6-arbusto-izq.gif";
$gifs-chapter-1-scene-6-front-grass: "/assets/gifs/cap1-esc6-pasto-al-frente.gif";
$gifs-chapter-1-scene-7-9-right-bush: "/assets/gifs/cap1-esc7-9-arbusto-derecho.gif";
$gifs-chapter-1-scene-7-9-left-bush: "/assets/gifs/cap1-esc7-9-arbusto-izquierdo.gif";
$gifs-chapter-1-scene-7-9-front-grass: "/assets/gifs/cap1-esc7-9-pasto-de-adelante.gif";
$gifs-chapter-1-scene-8-front-grass: "/assets/gifs/cap1-esc8-arbusto-adelante.gif";
$gifs-chapter-1-scene-8-back-grass: "/assets/gifs/cap1-esc8-arbusto-atras.gif";
//CHAPTER 2
$gifs-chapter-2-scene-1-front-left-tree: "/assets/gifs/cap2-esc1-arbol-izquierda.png";
$gifs-chapter-2-scene-1-back-right-tree: "/assets/gifs/cap2-esc1-arbol-derecho-atras.png";
//CHAPTER 3
$gifs-chapter-3-scene-3-snake-zzz: "/assets/gifs/cap3-esc3-serpiente-zzz.gif";
$gifs-chapter-3-scene-1-hand: "/assets/gifs/cap3-esc1-mano.gif";
//CHAPTER 4
//CHAPTER 5
//HOME
$gifs-home-bg: "/assets/gifs/portada-fondo.gif";
$gifs-home-river: "/assets/gifs/portada-rio.gif";
$gifs-home-bushes: "/assets/gifs/portada-arbusto-adelante-nuevo.gif";
//MAP
//SUCCESS ACTIVITY
$gifs-success-activity: "/assets/gifs/confetti.gif";
