$gifs-chapter-1-scene-1-bushes-with-rock: "/assets/gifs/cap1-esc1-arbustos-adelante-piedra.gif";
$gifs-chapter-1-scene-1-front-grass: "/assets/gifs/pasto-adelante.gif";
$gifs-chapter-1-scene-1-back-grass: "/assets/gifs/pasto-atras.gif";
$gifs-chapter-1-scene-2-back-right-bush: "/assets/gifs/arbusto-derecho-atras.gif";
$gifs-chapter-1-scene-2-back-left-bush: "/assets/gifs/arbusto-izquierdo-atras.gif";
$gifs-chapter-1-scene-2-front-right-grass: "/assets/gifs/pasto-derecha-delante.gif";
$gifs-chapter-1-scene-2-left-grass: "/assets/gifs/pasto-izquierdo.gif";
$gifs-chapter-1-scene-4-right-bush: "/assets/gifs/arbusto-derecho.gif";
$gifs-chapter-1-scene-4-left-bush: "/assets/gifs/arbusto-izq.gif";
$gifs-chapter-1-scene-4-front-grass: "/assets/gifs/pasot-al-frente.gif";
