<section class="scene-two">
  <div class="scene-two__container">
    <div class="scene-two__container__back-right-bush"></div>
    <div class="scene-two__container__back-left-bush"></div>
    <div class="scene-two__container__mom-cuy"></div>
    <div class="scene-two__container__son-cuy"></div>
    <div class="scene-two__container__cambuche"></div>
    <div class="scene-two__container__front-right-bush"></div>
    <div class="scene-two__container__front-left-bush"></div>
    <ng-container>
      <div class="scene-two__container__subtitles">
        <p>
          Hoy el cuy se despertó temprano. Apenas son las 4 de la mañana. Como
          todos los días, saludó a mamá cuy.
        </p>
      </div>
    </ng-container>
    <div class="scene-two__container__footer">
      <layout-bar
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToBackpackEvent)="onGoToBackpack()"
        (repeatSceneEvent)="onRepeatScene()"
      ></layout-bar>
    </div>
    <audio #cap1Esc2Narrator>
      <source
        [src]="CONST.AUDIO.NARRATOR_CHAPTER_1_SCENE_2"
        type="audio/mpeg"
      />
    </audio>
  </div>
</section>
