<section class="scene-two">
  <div class="scene-two__container">
    <div class="scene-two__container__body">
      <div class="scene-two__container__body__back-right-bush"></div>
      <div class="scene-two__container__body__back-left-bush"></div>
      <div class="scene-two__container__body__mom-cuy"></div>
      <div class="scene-two__container__body__son-cuy"></div>
      <div class="scene-two__container__body__cambuche"></div>
      <div class="scene-two__container__body__front-right-bush"></div>
      <div class="scene-two__container__body__front-left-bush"></div>
    </div>
    <div class="scene-two__container__footer">
      <layout-bar></layout-bar>
    </div>
  </div>
</section>
