<section class="scene-three-five">
  <div class="scene-three-five__container">
    <div class="scene-three-five__container__car"></div>
    <div class="scene-three-five__container__person"></div>
    <div class="scene-three-five__container__cuyo"></div>
    <ng-container>
      <div class="scene-three-five__container__subtitles">
        <p>─ ¡Qué miedo!</p>
      </div>
    </ng-container>
    <div class="scene-three-five__container__footer">
      <layout-bar></layout-bar>
    </div>
  </div>
</section>
