<section class="scene-two-five">
  <div class="scene-two-five__container">
    <div class="scene-two-five__container__cambuche"></div>
    <div class="scene-two-five__container__mom-cuy"></div>
    <div class="scene-two-five__container__enea"></div>
    <div class="scene-two-five__container__son-cuy"></div>
    <ng-container>
      <div class="scene-two-five__container__subtitles">
        <p>
          Su madre le pide que vaya por enea, su desayuno. El cuy de forma
          diligente corre hacia el humedal para hacerle el mandado a su mamá.
        </p>
      </div>
    </ng-container>
    <div class="scene-two-five__container__footer">
      <layout-bar></layout-bar>
    </div>
  </div>
</section>
