<section class="scene-seven">
  <div class="scene-seven__container">
    <div class="scene-seven__container__back-grass"></div>
    <div class="scene-seven__container__floor"></div>
    <div class="scene-seven__container__turtle"></div>
    <div class="scene-seven__container__front-grass"></div>
    <ng-container>
      <div class="scene-seven__container__subtitles">
        <p>
          ─ ¡Es muy fangoso! ─ dice la tortuga FALTA VARIABLE :V-. Este pasto es
          muy rasposo para mis piecitos.
        </p>
      </div>
    </ng-container>
    <div class="scene-seven__container__footer">
      <layout-bar></layout-bar>
    </div>
  </div>
</section>
