<section class="scene-seven">
  <div class="scene-seven__container">
    <div class="scene-seven__container__turtle"></div>
    <div class="scene-seven__container__right-bush"></div>
    <div class="scene-seven__container__left-bush"></div>
    <div class="scene-seven__container__front-grass"></div>
    <div class="scene-seven__container__cuyo"></div>
    <ng-container>
      <div class="scene-seven__container__subtitles">
        <p>
          El cuy sólo la observa. El animal que se queja es uno que él nunca
          había visto.
        </p>
      </div>
    </ng-container>
    <div class="scene-seven__container__footer">
      <layout-bar></layout-bar>
    </div>
  </div>
</section>
