<section class="scene-ten">
  <div class="scene-ten__container">
    <div class="scene-ten__container__head"></div>
    <div class="scene-ten__container__backpack"></div>
    <div class="scene-ten__container__feet"></div>
    <ng-container>
      <div class="scene-ten__container__subtitles">
        <layout-subtitles [subtitles]="getSubtitles()"></layout-subtitles>
      </div>
    </ng-container>
    <div class="scene-ten__container__arrows">
      <layout-inner-nav
        [showNextButton]="showNextButton"
        [showPreviousButton]="showPreviousButton"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
      ></layout-inner-nav>
    </div>
    <div class="scene-ten__container__footer">
      <layout-bar
        [currentRoute]="currentRoute"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToBackpackEvent)="onGoToBackpack()"
        (repeatSceneEvent)="onRepeatScene()"
      ></layout-bar>
    </div>
    <audio #cap1Esc10Narrator>
      <source
        [src]="CONST.AUDIO.NARRATOR_CHAPTER_1_SCENE_10"
        type="audio/mpeg"
      />
    </audio>
  </div>
</section>

<ng-template #backpackChapter1>
  <layout-backpack
    [food]="chapterTwoFinished$ | async"
    [river]="chapterThreeFinished$ | async"
    [sun]="chapterFourFinished$ | async"
    (closeBackpackEvent)="onCloseBackpack()"
  ></layout-backpack>
</ng-template>
