@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-ten {
  width: 100vw;
  height: 100vh;
  background-color: $color-primary-white;
  &__container {
    width: 100%;
    height: 100vh;
    position: relative;
    &__back-grass-cuy {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
      width: 519px;
      height: 768px;
      opacity: 0;
      background: url($bg-chapter-1-scene-10-11-cuy-color);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromLeft 1s ease-in-out 0s forwards;
    }
    &__cuy {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
      width: 445px;
      height: 729px;
      opacity: 0;
      background: url($character-chapter-1-scene-10-12-cuy);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromLeft 1s ease-in-out 0.5s forwards;
    }
    &__back-grass-turtle {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 1;
      width: 591px;
      height: 768px;
      opacity: 0;
      background: url($bg-chapter-1-scene-10-11-tortuga-color);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromRight 1s ease-in-out 1s forwards;
    }
    &__turtle {
      position: absolute;
      bottom: 0px;
      right: 0px;
      z-index: 2;
      width: 465px;
      height: 588px;
      opacity: 0;
      background: url($character-chapter-1-scene-10-11-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromRight 1s ease-in-out 1.5s forwards;
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
