<section class="scene-ten">
  <div class="scene-ten__container">
    <div class="scene-ten__container__back-grass-cuy"></div>
    <div class="scene-ten__container__cuy"></div>
    <div class="scene-ten__container__back-grass-turtle"></div>
    <div class="scene-ten__container__turtle"></div>
    <ng-container>
      <div class="scene-ten__container__subtitles">
        <p>- ¿Sabes cómo puedo ir a mi casa?</p>
      </div>
    </ng-container>
    <div class="scene-ten__container__footer">
      <layout-bar></layout-bar>
    </div>
  </div>
</section>
