@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-four {
  width: 100vw;
  height: 100%;
  background-image: url($bg-chapter-5-scene-4-without-river);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
  &.dottedClicked {
    opacity: 0;
    animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
    background-image: url($bg-chapter-5-scene-4-with-river);
  }
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    &__subtitles {
      position: absolute;
      top: 2%;
      right: 2%;
      z-index: 999;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      background-color: $color-primary-blue;
      opacity: 0;
      border-radius: 20px;
      width: 50%;
      animation: appearFullOpacity 1s ease-in-out 0s forwards;
      p {
        color: $color-primary-white;
        font-family: $letter-for-learners;
        font-size: 26px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
        margin: 12px 0px;
        padding: 0 60px;
      }
      @include to(min-width) {
        p {
          font-size: 20px;
          line-height: 24px;
          margin: 6px 0px;
          padding: 0 24px;
        }
      }
    }
    &__confeti {
      display: none;
      &.success {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 768px;
        background: url($gifs-success-activity);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(min-width) {
          height: 360px;
        }
      }
    }
    &__backpack {
      position: absolute;
      bottom: 0px;
      left: 8%;
      z-index: 2;
      width: 249px;
      height: 267px;
      background: url($elements-chapter-5-scene-4-backpack);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 2s forwards;
      @include to(min-width) {
        width: 148px;
        height: 140px;
      }
    }
    &__pieces {
      position: absolute;
      bottom: 4%;
      right: 30%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      height: 176px;
      @include to(laptop-m) {
        right: 14%;
      }
      @include to(laptop) {
        right: 6%;
      }
      @include to(min-width) {
        height: 70px;
        right: 10%;
      }
      &__branches {
        width: 177px;
        height: 180px;
        background: url($elements-chapter-5-scene-4-piece-branches-off);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        animation: appearFullOpacity 1s ease-in-out 4s forwards;
        cursor: pointer;
        @include to(min-width) {
          width: 110px;
          height: 90px;
        }
        &.clicked {
          background: url($elements-chapter-5-scene-4-piece-branches-on);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          @include to(min-width) {
            width: 110px;
            height: 90px;
          }
        }
        &.completed {
          display: none;
        }
      }
      &__river {
        width: 180px;
        height: 176px;
        background: url($elements-chapter-5-scene-4-piece-river-off);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        animation: appearFullOpacity 1s ease-in-out 4.5s forwards;
        cursor: pointer;
        @include to(min-width) {
          width: 108px;
          height: 91px;
        }
        &.clicked {
          background: url($elements-chapter-5-scene-4-piece-river-on);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          @include to(min-width) {
            width: 108px;
            height: 91px;
          }
        }
        &.completed {
          display: none;
        }
      }
      &__sun {
        width: 187px;
        height: 176px;
        background: url($elements-chapter-5-scene-4-piece-sun-off);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        animation: appearFullOpacity 1s ease-in-out 5s forwards;
        cursor: pointer;
        @include to(min-width) {
          width: 110px;
          height: 91px;
        }
        &.clicked {
          background: url($elements-chapter-5-scene-4-piece-sun-on);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          @include to(min-width) {
            width: 110px;
            height: 91px;
          }
        }
        &.completed {
          display: none;
        }
      }
    }
    &__dotted-branches {
      position: absolute;
      bottom: 30%;
      right: 4%;
      width: 124px;
      height: 138px;
      background: url($elements-chapter-5-scene-4-dotted-branches);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 0s forwards;
      cursor: pointer;
      @include to(min-width) {
        width: 78px;
        height: 65px;
      }
      &.disabled {
        pointer-events: none;
      }
      &.dottedClicked {
        pointer-events: none;
        background: url($elements-chapter-5-scene-4-branches);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(min-width) {
          width: 78px;
          height: 65px;
        }
      }
    }
    &__dotted-sun {
      position: absolute;
      top: 2%;
      left: 18%;
      width: 161px;
      height: 148px;
      background: url($elements-chapter-5-scene-4-dotted-sun);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 0s forwards;
      cursor: pointer;
      @include to(min-width) {
        width: 91px;
        height: 72px;
      }
      &.disabled {
        pointer-events: none;
      }
      &.dottedClicked {
        pointer-events: none;
        background: url($elements-chapter-5-scene-4-sun);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(min-width) {
          width: 91px;
          height: 72px;
        }
      }
    }
    &__dotted-river {
      position: absolute;
      top: 45%;
      left: 15%;
      width: 109px;
      height: 109px;
      z-index: 3;
      background: url($elements-chapter-5-scene-4-dotted-river);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 0s forwards;
      cursor: pointer;
      @include to(min-width) {
        top: 42%;
        width: 66px;
        height: 58px;
      }
      &.disabled {
        pointer-events: none;
      }
      &.dottedClicked {
        display: none;
      }
    }
    &__arrows {
      z-index: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 4s forwards;
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
