<section class="scene-six">
  <div class="scene-six__container">
    <div class="scene-six__container__subtitles">
      <p>
        Construye un día perfecto. Selecciona los elementos que
        <b>NO</b> hacen parte de un día soleado.
      </p>
    </div>
    <div
      class="scene-six__container__confeti"
      [ngClass]="{success: showConfeti}"
    ></div>
    <div class="scene-six__container__arrows">
      <layout-inner-nav
        [showNextButton]="showNextButton"
        [showPreviousButton]="showPreviousButton"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
      ></layout-inner-nav>
    </div>
    <div class="scene-six__container__sun"></div>
    <div class="scene-six__container__center-clouds"></div>
    <div class="scene-six__container__clouds"></div>
    <div
      class="scene-six__container__moon"
      [ngClass]="{'clicked': divClicked[0]}"
      (click)="divClicked[0] ? null : onIncreasePerfectDayScore(0)"
    ></div>
    <div
      class="scene-six__container__stars"
      [ngClass]="{'clicked': divClicked[1]}"
      (click)="divClicked[1] ? null : onIncreasePerfectDayScore(1)"
    ></div>
    <div class="scene-six__container__left-frailejon"></div>
    <div class="scene-six__container__right-frailejon"></div>
    <div
      class="scene-six__container__lintern"
      [ngClass]="{'clicked': divClicked[2]}"
      (click)="divClicked[2] ? null : onIncreasePerfectDayScore(2)"
    ></div>
    <audio #cap4Esc6Narrator>
      <source
        [src]="CONST.AUDIO.ACTIVITY_INSTRUCTIONS_CHAPTER_4_SCENE_6"
        type="audio/wav"
      />
    </audio>
    <audio #successSound>
      <source [src]="CONST.AUDIO.ACTIVITY_SUCCESS" type="audio/wav" />
    </audio>
  </div>
</section>

<ng-template #successChapter4Activity>
  <success-activity-chapter-four
    [turtleName]="turtleName$ | async"
    (goToMapEvent)="onGoToMap()"
  ></success-activity-chapter-four>
</ng-template>
