@import "global";
@import "media-querys";
@import "elements";
@import "keyframes";

.scenes-list {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 3rem 3rem 3rem;
  background: $color-primary-blue;
  @include to(min-width) {
    max-width: 450px;
    max-height: 250px;
    padding: 12px 14px 28px;
  }
  &__close {
    all: unset;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: flex-end;
    img {
      width: 24px;
      height: 24px;
      @include to(min-width) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__title {
    color: $color-primary-white;
    font-family: $lato-bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 24px;
    @include to(min-width) {
      font-size: 16px;
      line-height: 20px;
      margin-top: 12px;
    }
  }

  &__description {
    color: $color-primary-white;
    font-family: $lato-regular;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    @include to(min-width) {
      font-size: 12px;
      line-height: 26px;
      margin: 0 24px;
    }
  }

  &__wrapper {
    max-height: 160px;
    overflow-y: auto;
    margin-top: 32px;
    @include to(min-width) {
      margin-top: 12px;
    }
    &::-webkit-scrollbar {
      width: 6px; // Adjust the width as needed
    }

    &::-webkit-scrollbar-thumb {
      background: white; // Color of the scrollbar thumb
      border-radius: 3px;
    }
    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      &__content {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 10px 12px;
        @include to(min-width) {
          width: 86%;
        }
        &.chapter {
          cursor: default;
        }
        &__left {
          display: flex;
          flex-direction: row;
          align-items: center;
          p {
            color: $color-primary-white;
            font-family: $lato-regular;
            font-size: 14px;
            line-height: 16px;
            margin: 0;
          }
        }
        &__right {
          img {
            width: 12px;
            height: 12px;
            object-fit: none;
          }
        }
      }
    }
  }
}
