@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-five {
  width: 100vw;
  height: 100vh;
  background-image: url($bg-chapter-5-scene-5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
  &__container {
    position: relative;
    width: 100%;
    height: 100vh;
    &__right-after-turtle {
      position: absolute;
      bottom: 26%;
      right: 6%;
      z-index: 2;
      width: 229px;
      height: 174px;
      background: url($character-chapter-5-scene-5-right-after-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 0s forwards;
      @include to(min-width) {
        width: 91px;
        height: 67px;
      }
    }
    &__left-after-turtle {
      position: absolute;
      top: 10%;
      left: 10%;
      z-index: 2;
      width: 170px;
      height: 127px;
      background: url($character-chapter-5-scene-5-left-after-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 0s forwards;
      @include to(min-width) {
        top: 6%;
        width: 110px;
        height: 65px;
      }
    }
    &__middle-after-turtle {
      position: absolute;
      top: 26%;
      left: 38%;
      z-index: 1;
      width: 164px;
      height: 132px;
      background: url($character-chapter-5-scene-5-middle-after-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 1s forwards;
      @include to(min-width) {
        width: 110px;
        height: 65px;
      }
    }
    &__left-before-turtle {
      position: absolute;
      bottom: 36%;
      left: 4%;
      z-index: 1;
      width: 209px;
      height: 140px;
      background: url($character-chapter-5-scene-5-left-before-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 1s forwards;
      @include to(min-width) {
        width: 97px;
        height: 67px;
      }
    }
    &__main-turtle {
      position: absolute;
      bottom: 12%;
      left: 22%;
      z-index: 1;
      width: 250px;
      height: 213px;
      background: url($character-chapter-5-scene-5-main-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 1.5s forwards;
      @include to(min-width) {
        width: 130px;
        height: 106px;
      }
    }
    &__subtitles {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 3s forwards;
      &.on {
        animation: none;
        opacity: 1;
      }
    }
    &__arrows {
      z-index: 990;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 7s forwards;
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
