<section class="scene-five">
  <div class="scene-five__container">
    <div class="scene-five__container__right-after-turtle"></div>
    <div class="scene-five__container__left-after-turtle"></div>
    <div class="scene-five__container__middle-after-turtle"></div>
    <div class="scene-five__container__left-before-turtle"></div>
    <div class="scene-five__container__main-turtle"></div>
    <ng-container>
      <div class="scene-five__container__subtitles">
        <layout-subtitles [subtitles]="getSubtitles()"></layout-subtitles>
      </div>
    </ng-container>
    <div class="scene-five__container__arrows">
      <layout-inner-nav
        [showNextButton]="showNextButton"
        [showPreviousButton]="showPreviousButton"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
      ></layout-inner-nav>
    </div>
    <div class="scene-five__container__footer">
      <layout-bar
        [currentRoute]="currentRoute"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToBackpackEvent)="onGoToBackpack()"
        (repeatSceneEvent)="onRepeatScene()"
        (openScenesListEvent)="onOpenScenesList()"
      ></layout-bar>
    </div>
    <audio #cap5Esc5Turtle>
      <source [src]="CONST.AUDIO.TURTLE_CHAPTER_5_SCENE_5" type="audio/wav" />
    </audio>
  </div>
</section>

<ng-template #backpackChapter5>
  <layout-backpack
    [food]="chapterTwoFinished$ | async"
    [river]="chapterThreeFinished$ | async"
    [sun]="chapterFourFinished$ | async"
    (closeBackpackEvent)="onCloseBackpack()"
  ></layout-backpack>
</ng-template>

<ng-template #scenesList>
  <layout-scenes-list
    (closeScenesListEvent)="onCloseScenesList()"
  ></layout-scenes-list>
</ng-template>
