@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-eight {
  width: 100vw;
  height: 100vh;
  background-image: url($bg-chapter-3-scene-8);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
  &__container {
    position: relative;
    width: 100%;
    height: 100vh;
    &__subtitles {
      position: absolute;
      top: 50px;
      left: 0;
      z-index: 999;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      background-color: $color-primary-blue;
      opacity: 0;
      border-radius: 20px;
      width: 65%;
      height: 74px;
      animation: appearFullOpacity 1s ease-in-out 1s forwards;
      p {
        color: $color-primary-white;
        font-family: $letter-for-learners;
        font-size: 26px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
        margin: 12px 0px;
        padding: 0 60px;
      }
      @include to(min-width) {
        top: 0;
        height: 62px;
        p {
          font-size: 20px;
          line-height: 24px;
          margin: 6px 0px;
        }
      }
    }
    &__confeti {
      display: none;
      &.success {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 991;
        width: 100%;
        height: 768px;
        background: url($gifs-success-activity);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(min-width) {
          height: 360px;
        }
      }
    }
    &__reference {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 1;
      width: 291px;
      height: 186px;
      opacity: 0;
      background: url($elements-chapter-3-scene-8-puzzle-ref);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromRight 1s ease-in-out 0s forwards;
      @include to(min-width) {
        width: 158px;
        height: 90px;
      }
    }
    &__box {
      position: absolute;
      bottom: 8%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;
      @include to(min-width) {
        bottom: 2%;
      }
      &__top {
        display: flex;
        flex-direction: row;
        align-items: center;
        &__piece-1 {
          opacity: 0;
          animation: appearFullOpacity 1s ease-in-out 0s forwards;
          &.pos1 {
            width: 210px;
            height: 202px;
            background: url($elements-chapter-3-scene-8-piece-1-pos-1);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 126px;
              height: 102px;
            }
          }
          &.pos2 {
            width: 202px;
            height: 210px;
            background: url($elements-chapter-3-scene-8-piece-1-pos-2);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 102px;
              height: 126px;
            }
          }
          &.pos3 {
            width: 210px;
            height: 202px;
            background: url($elements-chapter-3-scene-8-piece-1-pos-3);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 126px;
              height: 102px;
            }
          }
          &.pos4 {
            width: 202px;
            height: 210px;
            background: url($elements-chapter-3-scene-8-piece-1-pos-4);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 102px;
              height: 126px;
            }
          }
        }
        &__piece-3 {
          opacity: 0;
          animation: appearFullOpacity 1s ease-in-out 0s forwards;
          &.pos1 {
            width: 227px;
            height: 202px;
            background: url($elements-chapter-3-scene-8-piece-3-pos-1);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 138px;
              height: 102px;
            }
          }
          &.pos2 {
            width: 202px;
            height: 227px;
            background: url($elements-chapter-3-scene-8-piece-3-pos-2);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 102px;
              height: 138px;
            }
          }
          &.pos3 {
            width: 227px;
            height: 202px;
            background: url($elements-chapter-3-scene-8-piece-3-pos-3);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 138px;
              height: 102px;
            }
          }
          &.pos4 {
            width: 202px;
            height: 227px;
            background: url($elements-chapter-3-scene-8-piece-3-pos-4);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 102px;
              height: 138px;
            }
          }
        }
        &__piece-5 {
          opacity: 0;
          animation: appearFullOpacity 1s ease-in-out 0s forwards;
          &.pos1 {
            width: 205px;
            height: 203px;
            background: url($elements-chapter-3-scene-8-piece-5-pos-1);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 123px;
              height: 103px;
            }
          }
          &.pos2 {
            width: 203px;
            height: 205px;
            background: url($elements-chapter-3-scene-8-piece-5-pos-2);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 103px;
              height: 123px;
            }
          }
          &.pos3 {
            width: 205px;
            height: 203px;
            background: url($elements-chapter-3-scene-8-piece-5-pos-3);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 123px;
              height: 103px;
            }
          }
          &.pos4 {
            width: 203px;
            height: 205px;
            background: url($elements-chapter-3-scene-8-piece-5-pos-4);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 103px;
              height: 123px;
            }
          }
        }
      }
      &__bot {
        display: flex;
        flex-direction: row;
        align-items: center;
        &__piece-2 {
          opacity: 0;
          animation: appearFullOpacity 1s ease-in-out 0s forwards;
          &.pos1 {
            width: 210px;
            height: 207px;
            background: url($elements-chapter-3-scene-8-piece-2-pos-1);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 126px;
              height: 106px;
            }
          }
          &.pos2 {
            width: 207px;
            height: 210px;
            background: url($elements-chapter-3-scene-8-piece-2-pos-2);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 106px;
              height: 126px;
            }
          }
          &.pos3 {
            width: 210px;
            height: 207px;
            background: url($elements-chapter-3-scene-8-piece-2-pos-3);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 126px;
              height: 106px;
            }
          }
          &.pos4 {
            width: 207px;
            height: 210px;
            background: url($elements-chapter-3-scene-8-piece-2-pos-4);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 106px;
              height: 126px;
            }
          }
        }
        &__piece-4 {
          opacity: 0;
          animation: appearFullOpacity 1s ease-in-out 0s forwards;
          &.pos1 {
            width: 227px;
            height: 206px;
            background: url($elements-chapter-3-scene-8-piece-4-pos-1);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 138px;
              height: 105px;
            }
          }
          &.pos2 {
            width: 206px;
            height: 227px;
            background: url($elements-chapter-3-scene-8-piece-4-pos-2);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 105px;
              height: 138px;
            }
          }
          &.pos3 {
            width: 227px;
            height: 206px;
            background: url($elements-chapter-3-scene-8-piece-4-pos-3);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 138px;
              height: 105px;
            }
          }
          &.pos4 {
            width: 206px;
            height: 227px;
            background: url($elements-chapter-3-scene-8-piece-4-pos-4);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 105px;
              height: 138px;
            }
          }
        }
        &__piece-6 {
          opacity: 0;
          animation: appearFullOpacity 1s ease-in-out 0s forwards;
          &.pos1 {
            width: 205px;
            height: 205px;
            background: url($elements-chapter-3-scene-8-piece-6-pos-1);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 123px;
              height: 104px;
            }
          }
          &.pos2 {
            width: 205px;
            height: 205px;
            background: url($elements-chapter-3-scene-8-piece-6-pos-2);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 104px;
              height: 123px;
            }
          }
          &.pos3 {
            width: 205px;
            height: 205px;
            background: url($elements-chapter-3-scene-8-piece-6-pos-3);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 123px;
              height: 104px;
            }
          }
          &.pos4 {
            width: 205px;
            height: 205px;
            background: url($elements-chapter-3-scene-8-piece-6-pos-4);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include to(min-width) {
              background-size: cover;
              width: 104px;
              height: 123px;
            }
          }
        }
      }
    }
    &__arrows {
      z-index: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 3s forwards;
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
