<section class="map">
  <div class="map__container">
    <div class="map__container__cuy"></div>
    <div class="map__container__textbox"></div>
    <div class="map__container__chapter1"></div>
    <div class="map__container__chapter2"></div>
    <div class="map__container__chapter3"></div>
    <div class="map__container__chapter4"></div>
    <div class="map__container__chapter5"></div>
    <!-- <ng-container>
      <div class="map__container__subtitles">
        <layout-subtitles [subtitles]="getSubtitles()"></layout-subtitles>
      </div>
    </ng-container> -->
    <div class="map__container__arrows">
      <layout-inner-nav
        [showNextButton]="showNextButton"
        [showPreviousButton]="showPreviousButton"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
      ></layout-inner-nav>
    </div>
    <div class="map__container__footer">
      <layout-bar
        [currentRoute]="currentRoute"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToBackpackEvent)="onGoToBackpack()"
        (repeatSceneEvent)="onRepeatScene()"
      ></layout-bar>
    </div>
    <!-- <audio #cap1Esc2Narrator>
      <source
        [src]="CONST.AUDIO.NARRATOR_CHAPTER_1_SCENE_2"
        type="audio/mpeg"
      />
    </audio> -->
    <!-- <audio #cap2Esc1Tucan>
      <source
        [src]="CONST.AUDIO.NARRATOR_CHAPTER_1_SCENE_2"
        type="audio/mpeg"
      />
    </audio> -->
  </div>
</section>
