@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.map {
  width: 100vw;
  height: 100%;
  background-image: url($bg-map);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    &__cuy {
      position: absolute;
      top: 2%;
      left: 8%;
      z-index: 1;
      width: 239px;
      height: 175px;
      opacity: 0;
      background: url($character-map-cuy);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: appearFullOpacity 1s ease-in-out 1s forwards;
      @include to(tablet-l) {
        width: 165px;
        height: 67px;
      }
      @include to(tablet-s) {
        width: 138px;
        height: 67px;
      }
      @include to(min-width) {
        width: 140px;
        height: 98px;
      }
      @media only screen and (min-height: 600px) {
        top: 2%;
        left: 8%;
        width: 239px;
        height: 175px;
      }
      .textbox {
        position: absolute;
        top: 6%;
        left: 106%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 287px;
        height: 119px;
        background: url($elements-map-textbox);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        animation: appearFullOpacity 1s ease-in-out 1s forwards;
        @include to(tablet-l) {
          left: 82%;
          width: 210px;
          height: 100px;
        }
        @include to(min-width) {
          left: 100%;
          width: 210px;
          height: 100px;
        }
        @media only screen and (min-height: 600px) {
          top: 6%;
          left: 100%;
          width: 287px;
          height: 119px;
        }
        .text {
          color: $color-primary-white;
          font-family: $letter-for-learners;
          font-size: 24px;
          font-weight: 300;
          line-height: 25px;
          text-align: center;
          padding: 0 0 0 20px;
          @include to(tablet-l) {
            font-size: 16px;
            line-height: 20px;
            padding: 0 0 0 14px;
          }
          @media only screen and (min-height: 600px) {
            font-size: 24px;
            line-height: 25px;
            padding: 0 0 0 20px;
          }
        }
      }
    }
    &__chapter1 {
      position: relative;
      position: absolute;
      bottom: 26%;
      left: 8%;
      z-index: 3;
      &__sabana {
        width: 206px;
        height: 195px;
        opacity: 0;
        background: url($elements-map-btn-chapter1);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        animation: appearFullOpacity 1s ease-in-out 1s forwards;
        cursor: pointer;
        @include to(tablet-l) {
          width: 141px;
          height: 121px;
        }
        @include to(tablet-s) {
          width: 138px;
          height: 67px;
        }
        @include to(min-width) {
          width: 113px;
          height: 106px;
        }
        @media only screen and (min-height: 600px) {
          width: 206px;
          height: 195px;
        }
      }
      &__tortuga1 {
        display: none;
        &.finished {
          display: block;
          position: absolute;
          top: -44%;
          left: 30%;
          width: 116px;
          height: 124px;
          background: url($elements-map-turtle-bottom);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          opacity: 0;
          animation: appearFullOpacity 1s ease-in-out 1s forwards;
          @include to(tablet-l) {
            width: 76px;
            height: 68px;
          }
          @include to(tablet-s) {
            width: 63px;
            height: 66px;
          }
          @include to(min-width) {
            top: 0;
            left: 40%;
            width: 70px;
            height: 80px;
          }
          @media only screen and (min-height: 600px) {
            top: -44%;
            left: 30%;
            width: 116px;
            height: 124px;
          }
        }
      }
    }
    &__chapter2 {
      position: absolute;
      bottom: 16%;
      left: 30%;
      z-index: 3;
      @media only screen and (min-height: 600px) {
        bottom: 8%;
      }
      &__tucan {
        width: 221px;
        height: 225px;
        opacity: 0;
        background: url($elements-map-btn-chapter2-off);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        animation: appearFullOpacity 1s ease-in-out 1s forwards;
        cursor: pointer;
        @include to(tablet-l) {
          width: 153px;
          height: 125px;
        }
        @include to(tablet-s) {
          width: 117px;
          height: 116px;
        }
        @include to(min-width) {
          width: 132px;
          height: 135px;
        }
        @media only screen and (min-height: 600px) {
          width: 221px;
          height: 225px;
        }
        &.finished {
          background: url($elements-map-btn-chapter2-on);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          @include to(tablet-l) {
            width: 153px;
            height: 125px;
          }
          @include to(tablet-s) {
            width: 117px;
            height: 116px;
          }
          @include to(min-width) {
            width: 132px;
            height: 135px;
          }
          @media only screen and (min-height: 600px) {
            width: 221px;
            height: 225px;
          }
        }
      }
      &__tortuga2 {
        display: none;
        &.finished {
          display: block;
          position: absolute;
          top: -44%;
          left: 30%;
          width: 116px;
          height: 124px;
          background: url($elements-map-turtle-bottom);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          opacity: 0;
          animation: appearFullOpacity 1s ease-in-out 1s forwards;
          @include to(tablet-l) {
            width: 76px;
            height: 68px;
          }
          @include to(tablet-s) {
            width: 63px;
            height: 66px;
          }
          @include to(min-width) {
            top: -48%;
            left: 22%;
            width: 70px;
            height: 80px;
          }
          @media only screen and (min-height: 600px) {
            top: -44%;
            left: 30%;
            width: 116px;
            height: 124px;
          }
        }
      }
    }
    &__chapter3 {
      position: absolute;
      top: 24%;
      right: 38%;
      z-index: 3;
      @include to(min-width) {
        top: 32%;
        right: 36%;
      }
      &__serpiente {
        width: 212px;
        height: 189px;
        opacity: 0;
        background: url($elements-map-btn-chapter3-off);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        animation: appearFullOpacity 1s ease-in-out 1s forwards;
        cursor: pointer;
        @include to(tablet-l) {
          width: 144px;
          height: 113px;
        }
        @include to(tablet-s) {
          width: 118px;
          height: 104px;
        }
        @include to(min-width) {
          top: 32%;
          right: 36%;
          width: 120px;
          height: 107px;
        }
        @media only screen and (min-height: 600px) {
          width: 212px;
          height: 189px;
        }
        &.finished {
          background: url($elements-map-btn-chapter3-on);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          @include to(tablet-l) {
            width: 144px;
            height: 113px;
          }
          @include to(tablet-s) {
            width: 118px;
            height: 104px;
          }
          @include to(min-width) {
            width: 120px;
            height: 107px;
          }
          @media only screen and (min-height: 600px) {
            width: 212px;
            height: 189px;
          }
        }
      }
      &__tortuga3 {
        display: none;
        &.finished {
          display: block;
          position: absolute;
          top: 34px;
          left: -100px;
          width: 116px;
          height: 124px;
          background: url($elements-map-turtle-right);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          opacity: 0;
          animation: appearFullOpacity 1s ease-in-out 1s forwards;
          @include to(tablet-l) {
            width: 81px;
            height: 61px;
          }
          @include to(tablet-s) {
            width: 60px;
            height: 60px;
          }
          @include to(min-width) {
            top: 5%;
            left: -54%;
            width: 80px;
            height: 75px;
          }
          @media only screen and (min-height: 600px) {
            top: 34px;
            left: -100px;
            width: 116px;
            height: 124px;
          }
        }
      }
    }
    &__chapter4 {
      position: absolute;
      bottom: 16%;
      right: 22%;
      z-index: 3;
      @media only screen and (min-height: 600px) {
        bottom: 8%;
        right: 20%;
      }
      &__danta {
        width: 206px;
        height: 228px;
        opacity: 0;
        background: url($elements-map-btn-chapter4-off);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        animation: appearFullOpacity 1s ease-in-out 1s forwards;
        cursor: pointer;
        @include to(tablet-l) {
          width: 146px;
          height: 130px;
        }
        @include to(tablet-s) {
          width: 123px;
          height: 127px;
        }
        @include to(min-width) {
          width: 120px;
          height: 133px;
        }
        @media only screen and (min-height: 600px) {
          width: 206px;
          height: 228px;
        }
        &.finished {
          background: url($elements-map-btn-chapter4-on);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          @include to(tablet-l) {
            width: 146px;
            height: 130px;
          }
          @include to(tablet-s) {
            width: 123px;
            height: 127px;
          }
          @include to(min-width) {
            width: 120px;
            height: 133px;
          }
          @media only screen and (min-height: 600px) {
            width: 206px;
            height: 228px;
          }
        }
      }
      &__tortuga4 {
        display: none;
        &.finished {
          display: block;
          position: absolute;
          top: -44%;
          left: 24%;
          width: 116px;
          height: 124px;
          background: url($elements-map-turtle-bottom);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          opacity: 0;
          animation: appearFullOpacity 1s ease-in-out 1s forwards;
          @include to(laptop) {
            top: -38%;
            left: 30%;
          }
          @include to(tablet-l) {
            width: 76px;
            height: 68px;
          }
          @include to(tablet-s) {
            width: 63px;
            height: 66px;
          }
          @include to(min-width) {
            background: url($elements-map-turtle-left);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            top: 20%;
            left: 95%;
            width: 70px;
            height: 80px;
          }
          @media only screen and (min-height: 600px) {
            top: -44%;
            left: 24%;
            width: 116px;
            height: 124px;
          }
        }
      }
    }
    &__chapter5 {
      position: absolute;
      top: 20%;
      right: 4%;
      z-index: 3;
      @include to(min-width) {
        top: 14%;
        right: 2%;
      }
      &__rio {
        width: 215px;
        height: 214px;
        opacity: 0;
        background: url($elements-map-btn-chapter5-off);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        animation: appearFullOpacity 1s ease-in-out 1s forwards;
        pointer-events: none;
        @include to(tablet-l) {
          width: 152px;
          height: 139px;
        }
        @include to(tablet-s) {
          width: 130px;
          height: 118px;
        }
        @include to(min-width) {
          width: 130px;
          height: 130px;
        }
        @media only screen and (min-height: 600px) {
          width: 215px;
          height: 214px;
        }
        &.enabled {
          pointer-events: all;
          cursor: pointer;
          background: url($elements-map-btn-chapter5-on);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          @include to(tablet-l) {
            width: 152px;
            height: 139px;
          }
          @include to(tablet-s) {
            width: 130px;
            height: 118px;
          }
          @include to(min-width) {
            width: 130px;
            height: 130px;
          }
          @media only screen and (min-height: 600px) {
            width: 215px;
            height: 214px;
          }
        }
      }
      &__tortuga5 {
        display: none;
        &.finished {
          display: block;
          position: absolute;
          top: -86px;
          left: 50px;
          width: 116px;
          height: 124px;
          background: url($elements-map-turtle-bottom);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          opacity: 0;
          animation: appearFullOpacity 1s ease-in-out 1s forwards;
          @include to(tablet-l) {
            width: 76px;
            height: 68px;
          }
          @include to(tablet-s) {
            width: 63px;
            height: 66px;
          }
          @include to(min-width) {
            width: 70px;
            height: 80px;
          }
          @media only screen and (min-height: 600px) {
            top: -86px;
            left: 50px;
            width: 116px;
            height: 124px;
          }
        }
      }
    }
    &__subtitles {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-primary-blue;
      opacity: 0;
      width: 100%;
      height: 74px;
      animation: appearFullOpacity 1s ease-in-out 2s forwards;
      p {
        color: $color-primary-white;
        font-family: $letter-for-learners;
        font-size: 26px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
        margin: 12px 0px;
        padding: 0 60px;
      }
      @include to(tablet-l) {
        height: 62px;
        p {
          font-size: 20px;
          line-height: 24px;
          margin: 6px 0px;
        }
      }
    }
    &__arrows {
      z-index: 990;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 3s forwards;
    }
  }
}
