<section class="map">
  <div class="map__container">
    <div class="map__container__cuy"></div>
    <div class="map__container__textbox"></div>
    <div class="map__container__chapter1">
      <div
        class="map__container__chapter1__sabana"
        (click)="onGoToChapterOne()"
      ></div>
      <div
        class="map__container__chapter1__tortuga1"
        [ngClass]="{'finished': (lastChapterFinished$ | async)?.chapter1}"
      ></div>
    </div>
    <div class="map__container__chapter2">
      <div
        class="map__container__chapter2__tucan"
        [ngClass]="{'finished': (isChapterTwoFinished$ | async)}"
        (click)="onGoToChapterTwo()"
      ></div>
      <div
        class="map__container__chapter2__tortuga2"
        [ngClass]="{'finished': (lastChapterFinished$ | async)?.chapter2}"
      ></div>
    </div>
    <div class="map__container__chapter3">
      <div
        class="map__container__chapter3__serpiente"
        [ngClass]="{'finished': (isChapterThreeFinished$ | async)}"
        (click)="onGoToChapterThree()"
      ></div>
      <div
        class="map__container__chapter3__tortuga3"
        [ngClass]="{'finished': (lastChapterFinished$ | async)?.chapter3}"
      ></div>
    </div>
    <div class="map__container__chapter4">
      <div
        class="map__container__chapter4__danta"
        [ngClass]="{'finished': (isChapterFourFinished$ | async)}"
        (click)="onGoToChapterFour()"
      ></div>
      <div
        class="map__container__chapter4__tortuga4"
        [ngClass]="{'finished': (lastChapterFinished$ | async)?.chapter4}"
      ></div>
    </div>
    <div class="map__container__chapter5">
      <div
        class="map__container__chapter5__rio"
        [ngClass]="{'enabled': (isChapterOneFinished$ | async) && (isChapterTwoFinished$ | async) && (isChapterThreeFinished$ | async) && (isChapterFourFinished$ | async)}"
        (click)="onGoToChapterFive()"
      ></div>
      <div
        class="map__container__chapter5__tortuga5"
        [ngClass]="{'finished': (lastChapterFinished$ | async)?.chapter5}"
      ></div>
    </div>
    <div class="map__container__subtitles">
      <p>
        Selecciona a qué amigo quieres ir a visitar, presionando sobre su
        ecosistema.
      </p>
    </div>
    <!-- <audio #cap1Esc2Narrator>
      <source
        [src]="CONST.AUDIO.NARRATOR_CHAPTER_1_SCENE_2"
        type="audio/mpeg"
      />
    </audio> -->
    <!-- <audio #cap2Esc1Tucan>
      <source
        [src]="CONST.AUDIO.NARRATOR_CHAPTER_1_SCENE_2"
        type="audio/mpeg"
      />
    </audio> -->
  </div>
</section>
