<section class="scene-eleven">
  <div class="scene-eleven__container">
    <div class="scene-eleven__container__back-grass-cuy"></div>
    <div class="scene-eleven__container__cuy"></div>
    <div class="scene-eleven__container__back-grass-turtle"></div>
    <div class="scene-eleven__container__turtle"></div>
    <ng-container>
      <div class="scene-eleven__container__subtitles">
        <layout-subtitles [subtitles]="getSubtitles()"></layout-subtitles>
      </div>
    </ng-container>
    <div class="scene-eleven__container__arrows">
      <layout-inner-nav
        [showNextButton]="showNextButton"
        [showPreviousButton]="showPreviousButton"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
      ></layout-inner-nav>
    </div>
    <div class="scene-eleven__container__footer">
      <layout-bar
        [currentRoute]="currentRoute"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToBackpackEvent)="onGoToBackpack()"
        (repeatSceneEvent)="onRepeatScene()"
        (openScenesListEvent)="onOpenScenesList()"
      ></layout-bar>
    </div>
    <audio #cap1Esc11Narrator>
      <source
        [src]="CONST.AUDIO.NARRATOR_CHAPTER_1_SCENE_11"
        type="audio/wav"
      />
    </audio>
  </div>
</section>

<ng-template #backpackChapter1>
  <layout-backpack
    [food]="chapterTwoFinished$ | async"
    [river]="chapterThreeFinished$ | async"
    [sun]="chapterFourFinished$ | async"
    (closeBackpackEvent)="onCloseBackpack()"
  ></layout-backpack>
</ng-template>

<ng-template #scenesList>
  <layout-scenes-list
    (closeScenesListEvent)="onCloseScenesList()"
  ></layout-scenes-list>
</ng-template>

<ng-template #config>
  <layout-configuration
    [isSubtitlesToggled]="isSubtitles$ | async"
    [isSoundToggled]="isSound$ | async"
    (closeConfigEvent)="onCloseConfig()"
    (soundToggleEvent)="onSoundToggle($event)"
    (subtitlesToggleEvent)="onSubtitlesToggle($event)"
  ></layout-configuration>
</ng-template>
