<section class="scene-eleven">
  <div class="scene-eleven__container">
    <div class="scene-eleven__container__back-grass-cuy"></div>
    <div class="scene-eleven__container__cuy"></div>
    <div class="scene-eleven__container__back-grass-turtle"></div>
    <div class="scene-eleven__container__turtle"></div>
    <ng-container>
      <div class="scene-eleven__container__subtitles">
        <p>
          La tortuga {{ turtleName$ | async }} mira hacia todos lados y le
          pregunta agitada al cuy:
        </p>
      </div>
    </ng-container>
    <div class="scene-eleven__container__arrows">
      <layout-inner-nav
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
      ></layout-inner-nav>
    </div>
    <div class="scene-eleven__container__footer">
      <layout-bar
        [currentRoute]="currentRoute"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToBackpackEvent)="onGoToBackpack()"
        (repeatSceneEvent)="onRepeatScene()"
      ></layout-bar>
    </div>
  </div>
</section>
