@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.rotate {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__close {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      button {
        all: unset;
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
          @include to(min-width) {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    &__graphic {
      width: 200px;
      height: 200px;
      margin: 36px 0;
      @include to(tablet-l) {
        margin: 18px 0;
        width: 100px;
        height: 150px;
      }
    }
    &__description {
      color: $color-primary-white;
      font-family: $lato-bold;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      margin: 0 60px 18px;
      br {
        display: block;
        @include to(tablet-l) {
          display: none;
        }
      }
    }
  }
}
