<section class="rotate">
  <!---->
  <div class="rotate__container">
    <div class="rotate__container__close">
      <button (click)="onClose()">
        <img
          src="https://elcaminodelatortuga.com/assets/icons/btn-close.png"
          alt="Botón Cerrar"
        />
      </button>
    </div>
    <img
      src="https://elcaminodelatortuga.com/assets/elements/rotate-device-white.svg"
      alt="Rotar el dispositivo"
      class="rotate__container__graphic"
    />
    <p class="rotate__container__description">
      Para disfrutar la experiencia, si estás desde un dispositivo móvil,
      <br />por favor voltéalo horizontalmente.
    </p>
  </div>
</section>
