<div class="inner-nav">
  <button
    class="inner-nav__btn"
    (click)="onGoToPreviousPage()"
    *ngIf="showPreviousButton"
  >
    <img
      src="https://elcaminodelatortuga.com/assets/icons/btn-retroceder-dentro-escena.svg"
      alt="Botón Retroceder"
    />
  </button>
  <button
    class="inner-nav__btn"
    (click)="onGoToNextPage()"
    *ngIf="showNextButton"
  >
    <img
      src="https://elcaminodelatortuga.com/assets/icons/btn-avanzar-dentro-escena.svg"
      alt="Botón Avanzar"
    />
  </button>
</div>
