@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-seven {
  width: 100vw;
  height: 100%;
  background-image: url($bg-chapter-1-scene-1-reduced);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    &__bush-rock {
      position: absolute;
      top: 38%;
      z-index: 2;
      width: 652px;
      height: 333px;
      opacity: 0;
      background: url($gifs-chapter-1-scene-1-7-bushes-with-rock-reduced);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromTop 1s ease-in-out 0.75s forwards;
      @include to(laptop-m) {
        top: 30%;
      }
      @include to(laptop) {
        width: 652px;
        height: 333px;
      }
      @include to(tablet-l) {
        width: 502px;
        height: 143px;
      }
      @include to(tablet-s) {
        width: 417px;
        height: 142px;
      }
      @include to(min-width) {
        width: 358px;
        height: 145px;
      }
    }
    &__turtle {
      position: absolute;
      bottom: 20%;
      right: 24%;
      z-index: 3;
      width: 369px;
      height: 252px;
      opacity: 0;
      background: url($character-chapter-1-scene-1-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromBottom 1s ease-in-out 2.75s forwards;
      @include to(laptop-m) {
        bottom: 28%;
        right: 10%;
      }
      @include to(tablet-l) {
        bottom: 16%;
        width: 264px;
        height: 188px;
      }
      @include to(tablet-s) {
        width: 235px;
        height: 167px;
      }
      @include to(min-width) {
        width: 223px;
        height: 140px;
      }
    }
    &__front-grass {
      position: absolute;
      bottom: 0px;
      z-index: 4;
      width: 100%;
      height: 310px;
      opacity: 0;
      background: url($elements-arbusto-adelante-1980);
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
      animation: fromBottom 1s ease-in-out 1.75s forwards;
      @include to(tablet-l) {
        height: 166px;
      }
      @include to(tablet-s) {
        height: 140px;
      }
      @include to(min-width) {
        height: 108px;
      }
    }
    &__introduction {
      width: 100%;
      position: absolute;
      top: 12%;
      left: 0px;
      z-index: 999;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 3s forwards;
      @include to(tablet-l) {
        top: 6%;
      }
      &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-primary-black;
        border-radius: 20px;
        padding: 24px;
        opacity: 0.8;
        @include to(tablet-l) {
          border-radius: 20px;
          padding: 8px;
        }
        p {
          color: $color-primary-white;
          font-family: $lato-regular;
          font-size: 18px;
          font-weight: 300;
          line-height: 22px;
          text-align: center;
          margin: 12px 0;
          padding: 0 60px;
          @include to(tablet-l) {
            font-size: 14px;
            line-height: 18px;
            padding: 0;
          }
        }
      }
    }
    &__buttons {
      position: absolute;
      bottom: 12%;
      left: 0;
      z-index: 999;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 24px;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 4s forwards;
      @include to(tablet-l) {
        bottom: 6%;
      }
      &__btn {
        width: 25%;
        height: 46px;
        padding: 12px;
        background-color: $color-primary-blue;
        color: $color-primary-white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-family: $lato-bold;
        font-size: 18px;
        @include to(tablet-l) {
          font-size: 14px;
        }
        &:focus {
          background-color: #0056b3;
        }
      }
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
