@import "global";
@import "media-querys";
@import "elements";
@import "keyframes";

.config {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 3rem 3rem 3rem;
  background: $color-primary-blue;
  @include to(min-width) {
    max-width: 450px;
    max-height: 250px;
    padding: 12px 14px 28px;
  }
  &__close {
    all: unset;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: flex-end;
    img {
      width: 24px;
      height: 24px;
      @include to(min-width) {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__title {
    color: $color-primary-white;
    font-family: $lato-bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 24px;
    @include to(min-width) {
      font-size: 16px;
      line-height: 20px;
      margin-top: 12px;
    }
  }
  &__description {
    color: $color-primary-white;
    font-family: $lato-regular;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    @include to(min-width) {
      font-size: 12px;
      line-height: 26px;
    }
  }
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
    @include to(min-width) {
      margin: 12px 24px;
    }
    &__left {
      color: $color-primary-white;
      font-family: $lato-regular;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      @include to(min-width) {
        font-size: 12px;
        line-height: 20px;
      }
    }
    &__right {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
