<section class="scene-one">
  <div class="scene-one__container">
    <div class="scene-one__container__back-grass"></div>
    <div class="scene-one__container__bush-rock"></div>
    <div class="scene-one__container__turtle"></div>
    <div class="scene-one__container__front-grass"></div>
    <ng-container>
      <div class="scene-one__container__introduction">
        <div class="scene-one__container__introduction__text">
          <p>
            Te damos la bienvenida.<br />
            Para acompañar a nuestra amiga tortuga en esta aventura, ella
            necesita un nombre.<br />
            <br />
            ¿Cómo quieres que se llame la tortuga?
          </p>
        </div>
        <input
          class="scene-one__container__introduction__input"
          type="text"
          [(ngModel)]="turtleName"
          [placeholder]="placeholderText"
          (input)="onInputChange()"
          (focus)="onClearPlaceholder()"
          required
        />
        <button
          class="scene-one__container__introduction__accept"
          (click)="onSubmit()"
          [disabled]="isButtonDisabled"
        >
          Aceptar
        </button>
      </div>
    </ng-container>
    <div class="scene-one__container__footer">
      <layout-bar
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToBackpackEvent)="onGoToBackpack()"
        (repeatSceneEvent)="onRepeatScene()"
      ></layout-bar>
    </div>
    <audio #cap1Esc1Narradora>
      <source
        [src]="CONST.AUDIO.NARRATOR_CHAPTER_1_SCENE_1"
        type="audio/mpeg"
      />
    </audio>
  </div>
</section>
