@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-one {
  width: 100vw;
  height: 100vh;
  background-image: url($bg-chapter-1-scene-1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
  &__container {
    position: relative;
    width: 100%;
    height: 100vh;
    &__back-grass {
      position: absolute;
      top: 4%;
      z-index: 1;
      width: 100%;
      height: 328px;
      opacity: 0;
      background: url($gifs-chapter-1-scene-1-7-back-grass);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromTop 1s ease-in-out 0s forwards;
      @include to(min-width) {
        height: 154px;
        background-size: cover;
      }
    }
    &__bush-rock {
      position: absolute;
      top: 26%;
      z-index: 2;
      width: 652px;
      height: 333px;
      opacity: 0;
      background: url($gifs-chapter-1-scene-1-7-bushes-with-rock);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromTop 1s ease-in-out 0.75s forwards;
      @include to(min-width) {
        width: 358px;
        height: 145px;
      }
    }
    &__turtle {
      position: absolute;
      bottom: 20%;
      right: 5%;
      z-index: 3;
      width: 369px;
      height: 252px;
      opacity: 0;
      background: url($character-chapter-1-scene-1-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromBottom 1s ease-in-out 2.75s forwards;
      @include to(min-width) {
        width: 223px;
        height: 140px;
      }
    }
    &__front-grass {
      position: absolute;
      bottom: 0px;
      z-index: 4;
      width: 100%;
      height: 179px;
      opacity: 0;
      background: url($gifs-chapter-1-scene-1-7-front-grass);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromBottom 1s ease-in-out 1.75s forwards;
      @include to(min-width) {
        height: 106px;
      }
    }
    &__introduction {
      width: 45%;
      position: absolute;
      top: 8%;
      left: 8%;
      z-index: 999;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 3.5s forwards;
      @include to(min-width) {
        top: 7%;
        left: 4%;
      }
      &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-primary-black;
        border-radius: 20px;
        padding: 24px;
        opacity: 0.8;
        @include to(min-width) {
          border-radius: 20px;
          padding: 8px;
        }
        p {
          color: $color-primary-white;
          font-family: $lato-regular;
          font-size: 18px;
          font-weight: 300;
          line-height: 22px;
          text-align: center;
          margin: 12px 0;
          padding: 0 60px;
          @include to(min-width) {
            font-size: 14px;
            line-height: 18px;
            padding: 0;
          }
        }
      }
      &__input {
        width: 70%;
        padding: 12px;
        border: 1px solid #cccccc;
        border-radius: 4px;
        margin: 20px 0;
        outline: none;
        transition: border-color 0.3s ease-in-out;
        color: $color-primary-blue;
        font-family: $lato-regular;
        font-size: 16px;
        &::placeholder {
          opacity: 0.8;
          text-align: center;
        }
        &:focus {
          border-color: $color-primary-blue;
        }
        @include to(min-width) {
          margin: 12px 0 20px;
          padding: 6px;
          font-size: 14px;
          line-height: 18px;
        }
      }
      &__accept {
        width: 30%;
        padding: 12px;
        background-color: $color-primary-white;
        color: #b3b3b3;
        border: none;
        border-radius: 4px;
        pointer-events: none;
        font-family: $lato-bold;
        font-size: 18px;
        &:focus {
          background-color: #0056b3;
        }
        &.enabled {
          pointer-events: all;

          background-color: $color-primary-blue;
          color: $color-primary-white;
          cursor: pointer;
        }
        @include to(min-width) {
          padding: 6px;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
