@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-six {
  width: 100vw;
  height: 100%;
  background-image: url($bg-chapter-5-scene-6);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    &__right-back-turtle {
      position: absolute;
      top: 20%;
      left: 36%;
      z-index: 2;
      width: 170px;
      height: 146px;
      background: url($character-chapter-5-scene-6-right-back-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 0s forwards;
      @include to(min-width) {
        width: 100px;
        height: 71px;
      }
    }
    &__left-back-turtle {
      position: absolute;
      top: 22%;
      left: 16%;
      z-index: 2;
      width: 199px;
      height: 162px;
      background: url($character-chapter-5-scene-6-left-back-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 0s forwards;
      @include to(min-width) {
        width: 112px;
        height: 74px;
      }
    }
    &__right-front-turtle {
      position: absolute;
      top: 34%;
      left: 50%;
      z-index: 1;
      width: 237px;
      height: 190px;
      background: url($character-chapter-5-scene-6-right-front-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 1s forwards;
      @include to(min-width) {
        width: 125px;
        height: 98px;
      }
    }
    &__left-front-turtle {
      position: absolute;
      top: 42%;
      left: 14%;
      z-index: 1;
      width: 203px;
      height: 234px;
      background: url($character-chapter-5-scene-6-left-front-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 1s forwards;
      @include to(min-width) {
        width: 120px;
        height: 113px;
      }
    }
    &__main-turtle {
      position: absolute;
      bottom: 26%;
      left: 36%;
      z-index: 1;
      width: 257px;
      height: 216px;
      background: url($character-chapter-5-scene-6-main-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 1.5s forwards;
      @include to(min-width) {
        width: 146px;
        height: 108px;
      }
    }
    &__end {
      position: absolute;
      bottom: 16%;
      left: 16%;
      z-index: 1;
      width: 20%;
      padding: 12px;
      background-color: $color-primary-blue;
      color: $color-primary-white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-family: $lato-bold;
      font-size: 18px;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 1.5s forwards;
      &:focus {
        background-color: #0056b3;
      }
    }
    &__subtitles {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 3s forwards;
    }
    &__arrows {
      z-index: 990;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 4s forwards;
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
