<section class="scene-one">
  <div class="scene-one__container">
    <div class="scene-one__container__turtle-frailejon"></div>
    <div class="scene-one__container__turtle"></div>
    <div class="scene-one__container__danta-frailejon"></div>
    <div class="scene-one__container__danta"></div>
    <div class="scene-one__container__fog"></div>
    <ng-container>
      <div class="scene-one__container__subtitles">
        <layout-subtitles [subtitles]="getSubtitles()"></layout-subtitles>
      </div>
    </ng-container>
    <div class="scene-one__container__arrows">
      <layout-inner-nav
        [showNextButton]="showNextButton"
        [showPreviousButton]="showPreviousButton"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
      ></layout-inner-nav>
    </div>
    <div class="scene-one__container__footer">
      <layout-bar
        [currentRoute]="currentRoute"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToBackpackEvent)="onGoToBackpack()"
        (repeatSceneEvent)="onRepeatScene()"
        (openScenesListEvent)="onOpenScenesList()"
      ></layout-bar>
    </div>
    <audio #cap4Esc1Narrator>
      <source [src]="CONST.AUDIO.NARRATOR_CHAPTER_4_SCENE_1" type="audio/wav" />
    </audio>
  </div>
</section>

<ng-template #backpackChapter4>
  <layout-backpack
    [food]="chapterTwoFinished$ | async"
    [river]="chapterThreeFinished$ | async"
    [sun]="chapterFourFinished$ | async"
    (closeBackpackEvent)="onCloseBackpack()"
  ></layout-backpack>
</ng-template>

<ng-template #scenesList>
  <layout-scenes-list
    (closeScenesListEvent)="onCloseScenesList()"
  ></layout-scenes-list>
</ng-template>
