@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-one {
  width: 100vw;
  height: 100vh;
  background-image: url($bg-chapter-3-scene-1-2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
  &__container {
    position: relative;
    width: 100%;
    height: 100vh;
    &__turtle {
      position: absolute;
      bottom: 110px;
      left: 140px;
      z-index: 3;
      width: 228px;
      height: 225px;
      opacity: 0;
      background: url($character-chapter-3-scene-1-2-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromLeft 1s ease-in-out 0s forwards;
    }
    &__log {
      position: absolute;
      bottom: 262px;
      right: 98px;
      z-index: 2;
      width: 329px;
      height: 133px;
      opacity: 0;
      background: url($elements-chapter-3-scene-1-log);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromRight 1s ease-in-out 11s forwards;
      cursor: pointer;
    }
    &__hand {
      position: absolute;
      top: 400px;
      right: 140px;
      z-index: 4;
      width: 90px;
      height: 90px;
      opacity: 0;
      background: url($gifs-chapter-3-scene-1-hand);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: appearFullOpacity 1s ease-in-out 12s forwards;
    }
    &__subtitles {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 1s forwards;
    }
    &__arrows {
      z-index: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-top: -30px;
      width: 100%;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 13s forwards;
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
