<section class="scene-one">
  <div class="scene-one__container">
    <div class="scene-one__container__log"></div>
    <div class="scene-one__container__turtle"></div>
    <ng-container>
      <div class="scene-one__container__subtitles">
        <p>
          La tortuga {{ turtleName$ | async }} llega a un nuevo lugar, es
          caliente y parece derretirse. Mientras camina se encuentra con un
          tronco.
        </p>
      </div>
    </ng-container>
    <div class="scene-one__container__arrows">
      <layout-inner-nav
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
      ></layout-inner-nav>
    </div>
    <div class="scene-one__container__footer">
      <layout-bar
        [currentRoute]="currentRoute"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToBackpackEvent)="onGoToBackpack()"
        (repeatSceneEvent)="onRepeatScene()"
      ></layout-bar>
    </div>
    <!-- <audio #cap1Esc2Narrator>
      <source
        [src]="CONST.AUDIO.NARRATOR_CHAPTER_1_SCENE_2"
        type="audio/mpeg"
      />
    </audio> -->
    <!-- <audio #cap2Esc1Tucan>
      <source
        [src]="CONST.AUDIO.NARRATOR_CHAPTER_1_SCENE_2"
        type="audio/mpeg"
      />
    </audio> -->
  </div>
</section>
