<section class="scene-six">
  <div class="scene-six__container">
    <div class="scene-six__container__back-grass"></div>
    <div class="scene-six__container__floor"></div>
    <div class="scene-six__container__turtle"></div>
    <div class="scene-six__container__front-grass"></div>
    <ng-container>
      <div class="scene-six__container__subtitles">
        <p>
          ─ ¡Es muy fangoso! ─ dice la tortuga {{ turtleName$ | async }}-. Este
          pasto es muy rasposo para mis piecitos.
        </p>
      </div>
    </ng-container>
    <div class="scene-six__container__footer">
      <layout-bar></layout-bar>
    </div>
  </div>
</section>
