<section class="scene-six">
  <div class="scene-six__container">
    <div class="scene-six__container__turtle"></div>
    <div class="scene-six__container__right-bush"></div>
    <div class="scene-six__container__left-bush"></div>
    <div class="scene-six__container__front-grass"></div>
    <div class="scene-six__container__cuyo"></div>
    <ng-container>
      <div class="scene-six__container__subtitles">
        <p>
          El cuy ve a un animal de color extraño, es la tortuga {{ turtleName$ |
          async }}.
        </p>
      </div>
    </ng-container>
    <div class="scene-six__container__footer">
      <layout-bar
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToBackpackEvent)="onGoToBackpack()"
        (repeatSceneEvent)="onRepeatScene()"
      ></layout-bar>
    </div>
    <audio #cap1Esc6Narrator>
      <source
        [src]="CONST.AUDIO.NARRATOR_CHAPTER_1_SCENE_6"
        type="audio/mpeg"
      />
    </audio>
  </div>
</section>
