<section class="scene-eight">
  <div class="scene-eight__container">
    <div class="scene-eight__container__back-grass"></div>
    <div class="scene-eight__container__floor"></div>
    <div class="scene-eight__container__turtle"></div>
    <div class="scene-eight__container__front-grass"></div>
    <ng-container>
      <div class="scene-eight__container__subtitles">
        <layout-subtitles [subtitles]="getSubtitles()"></layout-subtitles>
      </div>
    </ng-container>
    <div class="scene-eight__container__arrows">
      <layout-inner-nav
        [showNextButton]="showNextButton"
        [showPreviousButton]="showPreviousButton"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
      ></layout-inner-nav>
    </div>
    <div class="scene-eight__container__footer">
      <layout-bar
        [currentRoute]="currentRoute"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToBackpackEvent)="onGoToBackpack()"
        (repeatSceneEvent)="onRepeatScene()"
      ></layout-bar>
    </div>
    <audio #cap1Esc8Narrator>
      <source [src]="CONST.AUDIO.NARRATOR_CHAPTER_1_SCENE_8" type="audio/wav" />
    </audio>
  </div>
</section>
