@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-eight {
  width: 100vw;
  height: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: $color-primary-white;
  opacity: 0;
  animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
  &__container {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 1440px;
    &__back-grass {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 485px;
      opacity: 0;
      background: url($gifs-chapter-1-scene-8-back-grass);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromTop 1s ease-in-out 0s forwards;
      @include to(min-width) {
        width: 566px;
        height: 220px;
      }
    }
    &__floor {
      position: absolute;
      bottom: 20%;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 426px;
      opacity: 0;
      background: url($bg-chapter-1-scene-8);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromTop 1s ease-in-out 0.5s forwards;
      @include to(laptop) {
        bottom: 7%;
      }
      @include to(min-width) {
        width: 640px;
        height: 224px;
      }
    }
    &__front-grass {
      position: absolute;
      bottom: 18%;
      left: 0;
      z-index: 4;
      width: 100%;
      height: 279px;
      opacity: 0;
      background: url($gifs-chapter-1-scene-8-front-grass);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromBottom 1s ease-in-out 1s forwards;
      @include to(laptop) {
        bottom: 4%;
      }
      @include to(min-width) {
        width: 630px;
        height: 167px;
      }
    }
    &__turtle {
      position: absolute;
      top: 8%;
      left: 30%;
      z-index: 3;
      width: 529px;
      height: 533px;
      opacity: 0;
      background: url($character-chapter-1-scene-8-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromTop 1s ease-in-out 1.5s forwards;
      @include to(min-width) {
        width: 329px;
        height: 260px;
      }
    }
    &__subtitles {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 2s forwards;
      &.on {
        animation: none;
        opacity: 1;
      }
    }
    &__arrows {
      z-index: 990;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 12s forwards;
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
