@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-eight {
  width: 100vw;
  height: 100vh;
  background-color: $color-primary-white;
  opacity: 0;
  animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
  &__container {
    width: 100%;
    height: 100vh;
    position: relative;
    &__back-grass {
      position: absolute;
      top: 0px;
      left: 18px;
      z-index: 1;
      width: 946px;
      height: 485px;
      opacity: 0;
      background: url($gifs-chapter-1-scene-7-back-grass);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromTop 1s ease-in-out 0s forwards;
    }
    &__floor {
      position: absolute;
      bottom: 48px;
      left: 0px;
      z-index: 2;
      width: 1024px;
      height: 426px;
      opacity: 0;
      background: url($bg-chapter-1-scene-7);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromTop 1s ease-in-out 0.5s forwards;
    }
    &__front-grass {
      position: absolute;
      bottom: 48px;
      left: 0px;
      z-index: 4;
      width: 1014px;
      height: 279px;
      opacity: 0;
      background: url($gifs-chapter-1-scene-7-front-grass);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromBottom 1s ease-in-out 1s forwards;
    }
    &__turtle {
      position: absolute;
      top: 58px;
      left: 260px;
      z-index: 3;
      width: 529px;
      height: 533px;
      opacity: 0;
      background: url($character-chapter-1-scene-7-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromTop 1s ease-in-out 1.5s forwards;
    }
    &__subtitles {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 2s forwards;
    }
    &__arrows {
      z-index: 990;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-top: -30px;
      width: 100%;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 12s forwards;
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
