<section class="home">
  <div class="home__container">
    <div class="home__container__turtle"></div>
    <div class="home__container__title"></div>
    <div class="home__container__front-bush"></div>
    <div class="home__container__river"></div>
    <div class="home__container__footer">
      <home-footer
        (goToInstructionsEvent)="onGoToInstructions()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToCreditsEvent)="onGoToCredits()"
        (goToChapterOneEvent)="onGoToChapterOne()"
      ></home-footer>
    </div>
  </div>
</section>

<ng-template #credits>
  <layout-credits (closeCreditsEvent)="onCloseCredits()"></layout-credits>
</ng-template>
