<section class="home">
  <div class="home__container">
    <div class="home__container__turtle"></div>
    <div class="home__container__title"></div>
    <div class="home__container__right-bush"></div>
    <div class="home__container__left-bush"></div>
    <div class="home__container__footer">
      <home-footer
        (goToInstructionsEvent)="onGoToInstructions()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToCreditsEvent)="onGoToCredits()"
        (goToChapterOneEvent)="onGoToChapterOne()"
      ></home-footer>
    </div>
  </div>
</section>

<ng-template #credits>
  <layout-credits (closeCreditsEvent)="onCloseCredits()"></layout-credits>
</ng-template>

<ng-template #config>
  <layout-configuration
    [isSubtitlesToggled]="isSubtitles$ | async"
    [isSoundToggled]="isSound$ | async"
    (closeConfigEvent)="onCloseConfig()"
    (soundToggleEvent)="onSoundToggle($event)"
    (subtitlesToggleEvent)="onSubtitlesToggle($event)"
  ></layout-configuration>
</ng-template>

<ng-template #rotateDevice>
  <layout-rotate-device
    (closeRotateDeviceEvent)="onCloseRotateDevice()"
  ></layout-rotate-device>
</ng-template>
