<ng-container
  *ngIf="!(isPortrait$ | async) && !(isLoadingOrientation$ | async)"
>
  <section class="home">
    <div class="home__container">
      <div class="home__container__turtle"></div>
      <div class="home__container__title"></div>
      <div class="home__container__front-bush"></div>
      <div class="home__container__footer">
        <home-footer
          (goToInstructionsEvent)="onGoToInstructions()"
          (goToConfigurationEvent)="onGoToConfiguration()"
          (goToCreditsEvent)="onGoToCredits()"
          (goToChapterOneEvent)="onGoToChapterOne()"
        ></home-footer>
      </div>
    </div>
  </section>
</ng-container>
<ng-container *ngIf="isLoadingOrientation$ | async">
  <div class="loader">
    <p>Esto si está cargando :v</p>
  </div>
</ng-container>

<ng-container *ngIf="(isPortrait$ | async) && !(isLoadingOrientation$ | async)">
  <div class="rotate-device">
    <layout-rotate-device (reloadEvent)="onReload()"></layout-rotate-device>
  </div>
</ng-container>

<ng-template #credits>
  <layout-credits (closeCreditsEvent)="onCloseCredits()"></layout-credits>
</ng-template>

<ng-template #config>
  <layout-configuration
    [isSubtitlesToggled]="isSubtitles$ | async"
    [isSoundToggled]="isSound$ | async"
    (closeConfigEvent)="onCloseConfig()"
    (soundToggleEvent)="onSoundToggle($event)"
    (subtitlesToggleEvent)="onSubtitlesToggle($event)"
  ></layout-configuration>
</ng-template>
