<section class="scene-twelve">
  <div class="scene-twelve__container">
    <div class="scene-twelve__container__back-grass-cuy"></div>
    <div class="scene-twelve__container__cuy"></div>
    <div class="scene-twelve__container__back-grass-turtle"></div>
    <div class="scene-twelve__container__turtle"></div>
    <ng-container>
      <div class="scene-twelve__container__subtitles">
        <p>- ¿Sabes cómo puedo ir a mi casa?</p>
      </div>
    </ng-container>
    <div class="scene-twelve__container__footer">
      <layout-bar
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToBackpackEvent)="onGoToBackpack()"
        (repeatSceneEvent)="onRepeatScene()"
      ></layout-bar>
    </div>
  </div>
</section>
