@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-five {
  width: 100vw;
  height: 100%;
  background-image: url($bg-chapter-3-scene-3-4-5-6-7);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    &__log {
      position: absolute;
      top: 0;
      right: 2%;
      z-index: 2;
      width: 532px;
      height: 526px;
      background: url($elements-chapter-3-scene-5-6-7-log);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @include to(tablet-l) {
        width: 252px;
        height: 245px;
      }
      @include to(tablet-s) {
        width: 240px;
        height: 240px;
      }
      @include to(min-width) {
        right: -5%;
        width: 334px;
        height: 234px;
      }
      @media only screen and (min-height: 600px) {
        width: 365px;
        height: 356px;
      }
    }
    &__snake {
      position: absolute;
      top: 24%;
      right: 18%;
      z-index: 1;
      width: 343px;
      height: 340px;
      background: url($character-chapter-3-scene-5-7-snake);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @include to(laptop) {
        top: 30%;
        right: 20%;
      }
      @include to(tablet-l) {
        right: 9%;
        width: 220px;
        height: 166px;
      }
      @include to(tablet-s) {
        width: 182px;
        height: 162px;
      }
      @include to(min-width) {
        top: 26%;
        right: 14%;
        width: 187px;
        height: 170px;
      }
      @media only screen and (min-height: 600px) {
        top: 10%;
        right: 14%;
        width: 343px;
        height: 340px;
      }
    }
    &__turtle {
      position: absolute;
      bottom: 10%;
      left: 2%;
      z-index: 2;
      width: 307px;
      height: 353px;
      background: url($character-chapter-3-scene-5-7-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @include to(tablet-l) {
        width: 166px;
        height: 183px;
      }
      @include to(min-width) {
        left: -3%;
        width: 194px;
        height: 168px;
      }
      @media only screen and (min-height: 600px) {
        width: 307px;
        height: 353px;
      }
    }
    &__subtitles {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 0s forwards;
      &.on {
        animation: none;
        opacity: 1;
      }
    }
    &__arrows {
      z-index: 990;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-top: -30px;
      width: 100%;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 15s forwards;
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
