<section class="scene-nine">
  <div class="scene-nine__container">
    <div class="scene-nine__container__back-grass-cuy"></div>
    <div class="scene-nine__container__cuy"></div>
    <div class="scene-nine__container__back-grass-turtle"></div>
    <div class="scene-nine__container__turtle"></div>
    <ng-container>
      <div class="scene-nine__container__subtitles">
        <p>
          La tortuga {{ turtleName$ | async }} mira hacia todos lados y le
          pregunta agitada al cuy:
        </p>
      </div>
    </ng-container>
    <div class="scene-nine__container__footer">
      <layout-bar></layout-bar>
    </div>
  </div>
</section>
