<section class="scene-nine">
  <div class="scene-nine__container">
    <div class="scene-nine__container__head"></div>
    <div class="scene-nine__container__backpack"></div>
    <div class="scene-nine__container__feet"></div>
    <ng-container>
      <div class="scene-nine__container__subtitles">
        <p>
          Es verde, tiene patas cortas e incluso parece que lleva una especie de
          mochila en su espalda.
        </p>
      </div>
    </ng-container>
    <div class="scene-nine__container__footer">
      <layout-bar></layout-bar>
    </div>
  </div>
</section>
