<section class="scene-nine">
  <div class="scene-nine__container">
    <div class="scene-nine__container__turtle"></div>
    <div class="scene-nine__container__right-bush"></div>
    <div class="scene-nine__container__left-bush"></div>
    <div class="scene-nine__container__front-grass"></div>
    <div class="scene-nine__container__cuyo"></div>
    <ng-container>
      <div class="scene-nine__container__subtitles">
        <layout-subtitles [subtitles]="getSubtitles()"></layout-subtitles>
      </div>
    </ng-container>
    <div class="scene-nine__container__arrows">
      <layout-inner-nav
        [showNextButton]="showNextButton"
        [showPreviousButton]="showPreviousButton"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
      ></layout-inner-nav>
    </div>
    <div class="scene-nine__container__footer">
      <layout-bar
        [currentRoute]="currentRoute"
        (goToNextPageEvent)="onGoToNextPage()"
        (goToPreviousPageEvent)="onGoToPreviousPage()"
        (goToConfigurationEvent)="onGoToConfiguration()"
        (goToBackpackEvent)="onGoToBackpack()"
        (repeatSceneEvent)="onRepeatScene()"
      ></layout-bar>
    </div>
    <audio #cap1Esc9Narrator>
      <source [src]="CONST.AUDIO.NARRATOR_CHAPTER_1_SCENE_9" type="audio/wav" />
    </audio>
  </div>
</section>
