@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-six {
  width: 100vw;
  height: 100%;
  background-image: url($bg-chapter-2-scene-6);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    &__left-tree {
      position: absolute;
      top: 8%;
      left: 6%;
      z-index: 5;
      width: 324px;
      height: 508px;
      opacity: 0;
      background: url($elements-chapter-2-scene-6-left-tree);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromTop 1s ease-in-out 0s forwards;
      @include to(tablet-l) {
        width: 314px;
        height: 401px;
      }
      @include to(tablet-s) {
        width: 260px;
        height: 267px;
      }
      @include to(min-width) {
        width: 205px;
        height: 245px;
      }
    }
    &__right-tree {
      position: absolute;
      top: 0%;
      right: 10%;
      z-index: 5;
      width: 333px;
      height: 404px;
      opacity: 0;
      background: url($elements-chapter-2-scene-6-right-tree);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromTop 1s ease-in-out 0s forwards;
      @include to(tablet-l) {
        width: 332px;
        height: 309px;
      }
      @include to(tablet-s) {
        width: 260px;
        height: 283px;
      }
      @include to(min-width) {
        width: 215px;
        height: 196px;
      }
    }
    &__seed-right-back {
      position: absolute;
      top: 30%;
      right: 1%;
      z-index: 2;
      width: 186px;
      height: 132px;
      opacity: 0;
      background: url($elements-chapter-2-scene-6-seed-right-back-off);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromRight 1s ease-in-out 1s forwards;
      cursor: pointer;
      @include to(tablet-l) {
        background: url($elements-chapter-2-scene-6-seed-right-back-off-990);
        width: 220px;
        height: 155px;
      }
      @include to(tablet-s) {
        background: url($elements-chapter-2-scene-6-seed-right-back-off-640);
        right: -2%;
        width: 136px;
        height: 82px;
      }
      &:hover {
        top: 30%;
        right: 1%;
        width: 218px;
        height: 167px;
        background: url($elements-chapter-2-scene-6-seed-right-back-on);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(tablet-l) {
          background: url($elements-chapter-2-scene-6-seed-right-back-on-990);
          width: 220px;
          height: 155px;
        }
        @include to(tablet-s) {
          background: url($elements-chapter-2-scene-6-seed-right-back-on-640);
          right: -2%;
          width: 136px;
          height: 82px;
        }
      }
      &.clicked {
        top: 30%;
        right: 1%;
        width: 218px;
        height: 167px;
        background: url($elements-chapter-2-scene-6-seed-right-back-on);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(tablet-l) {
          background: url($elements-chapter-2-scene-6-seed-right-back-on-990);
          width: 220px;
          height: 155px;
        }
        @include to(tablet-s) {
          background: url($elements-chapter-2-scene-6-seed-right-back-on-640);
          right: -2%;
          width: 136px;
          height: 82px;
        }
      }
    }
    &__seed-left-front {
      position: absolute;
      bottom: 18%;
      left: 4%;
      z-index: 3;
      width: 227px;
      height: 146px;
      opacity: 0;
      background: url($elements-chapter-2-scene-6-seed-left-front-off);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromLeft 1s ease-in-out 1.5s forwards;
      cursor: pointer;
      @include to(tablet-l) {
        background: url($elements-chapter-2-scene-6-seed-left-front-off-990);
        width: 259px;
        height: 156px;
      }
      @include to(tablet-s) {
        background: url($elements-chapter-2-scene-6-seed-left-front-off-640);
        width: 163px;
        height: 90px;
      }
      @include to(min-width) {
        bottom: 8%;
        left: 0;
      }
      &:hover {
        bottom: 18%;
        left: 4%;
        width: 255px;
        height: 174px;
        background: url($elements-chapter-2-scene-6-seed-left-front-on);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(tablet-l) {
          background: url($elements-chapter-2-scene-6-seed-left-front-on-990);
          width: 259px;
          height: 156px;
        }
        @include to(tablet-s) {
          background: url($elements-chapter-2-scene-6-seed-left-front-on-640);
          width: 163px;
          height: 90px;
        }
        @include to(min-width) {
          bottom: 8%;
          left: 0;
        }
      }
      &.clicked {
        bottom: 18%;
        left: 4%;
        width: 255px;
        height: 174px;
        background: url($elements-chapter-2-scene-6-seed-left-front-on);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(tablet-l) {
          background: url($elements-chapter-2-scene-6-seed-left-front-off-990);
          width: 259px;
          height: 156px;
        }
        @include to(tablet-s) {
          background: url($elements-chapter-2-scene-6-seed-left-front-off-640);
          width: 163px;
          height: 90px;
        }
        @include to(min-width) {
          bottom: 8%;
          left: 0;
        }
      }
    }
    &__stem-back {
      position: absolute;
      top: 40%;
      left: 46%;
      z-index: 4;
      width: 121px;
      height: 109px;
      opacity: 0;
      background: url($elements-chapter-2-scene-6-stem-back-off);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromLeft 1s ease-in-out 2s forwards;
      cursor: pointer;
      @include to(tablet-s) {
        width: 104px;
        height: 75px;
      }
      &:hover {
        top: 39%;
        left: 45%;
        width: 162px;
        height: 149px;
        background: url($elements-chapter-2-scene-6-stem-back-on);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(tablet-s) {
          width: 104px;
          height: 75px;
        }
      }
      &.clicked {
        top: 39%;
        left: 45%;
        width: 162px;
        height: 149px;
        background: url($elements-chapter-2-scene-6-stem-back-on);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(tablet-s) {
          width: 104px;
          height: 75px;
        }
      }
    }
    &__stem-front {
      position: absolute;
      bottom: 10%;
      right: 5%;
      z-index: 5;
      width: 173px;
      height: 182px;
      opacity: 0;
      background: url($elements-chapter-2-scene-6-stem-front-off);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromRight 1s ease-in-out 2.5s forwards;
      cursor: pointer;
      @include to(tablet-l) {
        background: url($elements-chapter-2-scene-6-stem-front-off-990);
        width: 222px;
        height: 198px;
      }
      @include to(tablet-s) {
        background: url($elements-chapter-2-scene-6-stem-front-off-640);
        width: 128px;
        height: 119px;
      }
      &:hover {
        bottom: 8%;
        right: 4%;
        width: 223px;
        height: 228px;
        background: url($elements-chapter-2-scene-6-stem-front-on);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(tablet-l) {
          background: url($elements-chapter-2-scene-6-stem-front-on-990);
          width: 222px;
          height: 198px;
        }
        @include to(tablet-s) {
          background: url($elements-chapter-2-scene-6-stem-front-on-640);
          width: 128px;
          height: 119px;
        }
      }
      &.clicked {
        bottom: 8%;
        right: 4%;
        width: 223px;
        height: 228px;
        background: url($elements-chapter-2-scene-6-stem-front-on);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(tablet-l) {
          background: url($elements-chapter-2-scene-6-stem-front-on-990);
          width: 222px;
          height: 198px;
        }
        @include to(tablet-s) {
          background: url($elements-chapter-2-scene-6-stem-front-on-640);
          width: 128px;
          height: 119px;
        }
      }
    }
    &__backpack {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 5;
      width: 273px;
      height: 319px;
      background: url($elements-chapter-2-scene-6-backpack-state-1);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @include to(tablet-l) {
        background: url($elements-chapter-2-scene-6-backpack-state-1-990);
        width: 225px;
        height: 251px;
      }
      @include to(tablet-s) {
        background: url($elements-chapter-2-scene-6-backpack-state-1-640);
        width: 140px;
        height: 158px;
      }
      &.state-2 {
        background: url($elements-chapter-2-scene-6-backpack-state-2);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(tablet-l) {
          background: url($elements-chapter-2-scene-6-backpack-state-2-990);
          width: 225px;
          height: 251px;
        }
        @include to(tablet-s) {
          background: url($elements-chapter-2-scene-6-backpack-state-2-640);
          width: 140px;
          height: 158px;
        }
      }
      &.state-3 {
        background: url($elements-chapter-2-scene-6-backpack-state-3);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(tablet-l) {
          background: url($elements-chapter-2-scene-6-backpack-state-3-990);
          width: 225px;
          height: 251px;
        }
        @include to(tablet-s) {
          background: url($elements-chapter-2-scene-6-backpack-state-3-640);
          width: 140px;
          height: 158px;
        }
      }
      &.state-4 {
        background: url($elements-chapter-2-scene-6-backpack-state-4);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(tablet-l) {
          background: url($elements-chapter-2-scene-6-backpack-state-4-990);
          width: 225px;
          height: 251px;
        }
        @include to(tablet-s) {
          background: url($elements-chapter-2-scene-6-backpack-state-4-640);
          width: 140px;
          height: 158px;
        }
      }
      &.state-5 {
        background: url($elements-chapter-2-scene-6-backpack-state-5);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(tablet-l) {
          background: url($elements-chapter-2-scene-6-backpack-state-5-990);
          width: 225px;
          height: 251px;
        }
        @include to(tablet-s) {
          background: url($elements-chapter-2-scene-6-backpack-state-5-640);
          width: 140px;
          height: 158px;
        }
      }
    }
    &__subtitles {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 990;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-primary-blue;
      opacity: 0;
      width: 100%;
      height: 74px;
      animation: appearFullOpacity 1s ease-in-out 0s forwards;
      p {
        color: $color-primary-white;
        font-family: $letter-for-learners;
        font-size: 26px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
        margin: 12px 0px;
        padding: 0 60px;
      }
      @include to(min-width) {
        height: 62px;
        p {
          font-size: 20px;
          line-height: 24px;
          margin: 6px 0px;
        }
      }
    }
    &__arrows {
      z-index: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 3s forwards;
    }
    &__confeti {
      display: none;
      &.success {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 991;
        width: 100%;
        height: 768px;
        background: url($gifs-success-activity);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include to(min-width) {
          height: 360px;
        }
      }
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
