@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-six {
  width: 100vw;
  height: 100vh;
  background-image: url($bg-chapter-2-scene-6);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__container {
    position: relative;
    width: 100%;
    height: 100vh;
    &__seed-right-back {
      position: absolute;
      top: 338px;
      right: 284px;
      z-index: 2;
      width: 186px;
      height: 132px;
      opacity: 0;
      background: url($elements-chapter-2-scene-6-seed-right-back-off);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromRight 1s ease-in-out 0s forwards;
      &:hover {
        top: 316px;
        right: 274px;
        width: 218px;
        height: 167px;
        background: url($elements-chapter-2-scene-6-seed-right-back-on);
      }
      &.clicked {
        top: 316px;
        right: 274px;
        width: 218px;
        height: 167px;
        background: url($elements-chapter-2-scene-6-seed-right-back-on);
      }
    }
    &__seed-left-front {
      position: absolute;
      bottom: 120px;
      left: 38px;
      z-index: 3;
      width: 227px;
      height: 146px;
      opacity: 0;
      background: url($elements-chapter-2-scene-6-seed-left-front-off);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromLeft 1s ease-in-out 0.5s forwards;
      &:hover {
        bottom: 104px;
        left: 30px;
        width: 255px;
        height: 174px;
        background: url($elements-chapter-2-scene-6-seed-left-front-on);
      }
      &.clicked {
        bottom: 104px;
        left: 30px;
        width: 255px;
        height: 174px;
        background: url($elements-chapter-2-scene-6-seed-left-front-on);
      }
    }
    &__stem-back {
      position: absolute;
      top: 312px;
      left: 266px;
      z-index: 4;
      width: 121px;
      height: 109px;
      opacity: 0;
      background: url($elements-chapter-2-scene-6-stem-back-off);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromLeft 1s ease-in-out 1s forwards;
      &:hover {
        top: 292px;
        left: 248px;
        width: 162px;
        height: 149px;
        background: url($elements-chapter-2-scene-6-stem-back-on);
      }
      &.clicked {
        top: 292px;
        left: 248px;
        width: 162px;
        height: 149px;
        background: url($elements-chapter-2-scene-6-stem-back-on);
      }
    }
    &__stem-front {
      position: absolute;
      bottom: 100px;
      right: 48px;
      z-index: 5;
      width: 173px;
      height: 182px;
      opacity: 0;
      background: url($elements-chapter-2-scene-6-stem-front-off);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromRight 1s ease-in-out 1.5s forwards;
      &:hover {
        bottom: 82px;
        right: 28px;
        width: 223px;
        height: 228px;
        background: url($elements-chapter-2-scene-6-stem-front-on);
      }
      &.clicked {
        bottom: 82px;
        right: 28px;
        width: 223px;
        height: 228px;
        background: url($elements-chapter-2-scene-6-stem-front-on);
      }
    }
    &__backpack {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 5;
      width: 273px;
      height: 319px;
      background: url($elements-chapter-2-scene-6-backpack-state-1);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      &.state-2 {
        background: url($elements-chapter-2-scene-6-backpack-state-2);
      }
      &.state-3 {
        background: url($elements-chapter-2-scene-6-backpack-state-3);
      }
      &.state-4 {
        background: url($elements-chapter-2-scene-6-backpack-state-4);
      }
      &.state-5 {
        background: url($elements-chapter-2-scene-6-backpack-state-5);
      }
    }
    &__subtitles {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-primary-blue;
      opacity: 0;
      width: 100%;
      height: 74px;
      animation: appearFullOpacity 1s ease-in-out 2s forwards;
      p {
        color: $color-primary-white;
        font-family: $letter-for-learners;
        font-size: 26px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
        margin: 12px 0px;
        padding: 0 60px;
      }
    }
    &__arrows {
      z-index: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-top: -30px;
      width: 100%;
      opacity: 0;
      animation: fromBottom 1s ease-in-out 2s forwards;
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
