<div class="bar">
  <button class="bar__tab" (click)="onToggleControls()">REPRODUCTOR</button>
  <div class="bar__controls" *ngIf="toggleControls">
    <div class="bar__controls__left">
      <div class="bar__controls__left__scenes"></div>
    </div>
    <div class="bar__controls__right">
      <button class="bar__controls__right__btns">
        <img src="/assets/icons/btn-retroceder.svg" alt="Botón de retroceder" />
      </button>
      <button class="bar__controls__right__btns">
        <img src="/assets/icons/btn-avanzar.svg" alt="Botón de avanzar" />
      </button>
      <button class="bar__controls__right__btns">
        <img
          src="/assets/icons/btn-repetir-escena.svg"
          alt="Botón de repetir escena"
        />
      </button>
      <button class="bar__controls__right__btns">
        <img src="/assets/icons/btn-mochila.svg" alt="Botón de mochila" />
      </button>
      <button class="bar__controls__right__btns">
        <img
          src="/assets/icons/btn-configuracion.svg"
          alt="Botón de configuración"
        />
      </button>
    </div>
  </div>
</div>
