@import "global";
@import "media-querys";
@import "backgrounds";
@import "elements";
@import "gifs";
@import "characters";
@import "keyframes";

.scene-one {
  width: 100vw;
  height: 100%;
  background-image: url($bg-chapter-2-scene-1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: appearFullOpacity 0.5s ease-in-out 0s forwards;
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    &__right-front-tree {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 1;
      width: 379px;
      height: 552px;
      opacity: 0;
      background: url($gifs-chapter-2-scene-1-back-right-tree);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromTop 1s ease-in-out 0s forwards;
      @include to(min-width) {
        width: 210px;
        height: 241px;
      }
    }
    &__left-back-tree {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
      width: 508px;
      height: 652px;
      opacity: 0;
      background: url($gifs-chapter-2-scene-1-front-left-tree);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromTop 1s ease-in-out 0.5s forwards;
      @include to(min-width) {
        width: 287px;
        height: 292px;
      }
      .tucan {
        position: absolute;
        top: 10%;
        left: 46%;
        z-index: 3;
        width: 201px;
        height: 151px;
        opacity: 0;
        background: url($character-chapter-2-scene-1-tucan);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        animation: appearFullOpacity 1s ease-in-out 1.5s forwards;
        @include to(laptop) {
          top: 5%;
          left: 25%;
        }
        @include to(min-width) {
          top: 4%;
          left: 48%;
          width: 108px;
          height: 82px;
        }
      }
    }
    &__turtle {
      position: absolute;
      bottom: 22%;
      right: 16%;
      z-index: 4;
      width: 231px;
      height: 224px;
      opacity: 0;
      background: url($character-chapter-2-scene-1-turtle);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: fromRight 1s ease-in-out 2s forwards;
      @include to(laptop) {
        bottom: 16%;
        right: 28%;
      }
      @include to(min-width) {
        bottom: 22%;
        width: 125px;
        height: 110px;
      }
    }
    &__subtitles {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 2s forwards;
      &.on {
        animation: none;
        opacity: 1;
      }
    }
    &__arrows {
      z-index: 990;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      opacity: 0;
      animation: appearFullOpacity 1s ease-in-out 14.5s forwards;
    }
    &__footer {
      z-index: 1000;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
