<section class="rotate">
  <div class="rotate__container">
    <h1 class="rotate__container__title">¡Ups!</h1>
    <p class="rotate__container__description">
      Parece que tienes el dispositivo en modo portrait. Gíralo como está en la
      imagen y toca el botón para recargar.
    </p>
    <img
      src="/assets/elements/rotate-device.jpg"
      alt="Rotar el dispositivo"
      class="rotate__container__graphic"
    />
    <button class="rotate__container__button" (click)="onReload()">
      Recargar
    </button>
  </div>
</section>
